body {
	font-family: tahoma;
}
input {
	font-family: tahoma;
}
input:disabled {
	background-color: #ddd;
}
.header {
	width: 100%;
	height: 80px;
	background-image: url("../images/header.png");
}
#logo_link {
	display: block;
	height: 80px;
	position: absolute;
	width: 195px;
}
#header .liveduel-radio-box {
	position: absolute;
	top: 5px;
}
#local_time_box {
	left: 550px;
}
#your_time_box {
	left: 660px;
}
#user_bar {
	background-color: #FAFFD5;
	border: 1px solid #DDDDDD;
	border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	box-shadow: 0 0 10px -2px #999999;
	-moz-box-shadow: 0 0 10px -2px #999999;
	-moz-box-shadow: 0 0 10px -2px #999999;
	font-size: 13px;
	height: 1.6em;
	padding: 3px 7px;
	position: fixed;
	right: 10px;
	top: 0;
	z-index: 5;
	box-sizing: inherit;
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
}
.container {
	position: absolute;
	min-height: 848px;
	left: 50%;
	top: 0;
	margin-left: -480px;
	width: 960px;
	padding: 0;
	background-image: url("../images/background.png");
	background-position: top center;
}

#content-top {
	background-color: #a9b4b7;
	width: 510px;
	height: 34px;
	margin-bottom: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.liveduel-radio {
	width: 13px;
	height: 13px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	padding: 0;
	margin: 0;
	border: 0 none;
	cursor: pointer;
}
.liveduel-radio + .liveduel-radio-label {
	background-image: url("../images/radio-uncheck.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center left;
	margin-left: -13px;
	padding-left: 18px;
	cursor: pointer;
	color: #666666;
	font-size: 15px;
	line-height: 15px;
}
.liveduel-radio:checked + .liveduel-radio-label {
	background-image: url("../images/radio-checked.png");
}
.liveduel-button {
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../images/button_bg.png");
	background-position: left top;
	background-repeat: no-repeat;
	border: 0 none;
	color: #555555;
	cursor: pointer;
	font-family: inherit;
	font-size: 14px;
	height: 31px;
	padding: 0;
	text-align: center;
	width: 137px;
}
.popup-button {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#14B800), to(#358C07));
	background: -webkit-linear-gradient(top, #14B800, #358C07);
	background: -moz-linear-gradient(top, #14B800, #358C07);
	background: -ms-linear-gradient(top, #14B800, #358C07);
	background: -o-linear-gradient(top, #14B800, #358C07);
	border: 1px solid #EEEEEE;
	box-shadow: 0 0 4px 0 #C9C9C9;
	-moz-box-shadow: 0 0 4px 0 #C9C9C9;
	-webkit-box-shadow: 0 0 4px 0 #C9C9C9;
	color: #E1E1E1;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	height: 30px;
}