.clearfix:after,
.line:after,
._wrapper:after
{
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html .clearfix,
html .line,
html ._wrapper
 {
	display: block;
}
* html .clearfix,
* html .line,
* html ._wrapper
{
	height: 1%;
}
.hidden-sep {
	height: 0;
	clear: both;
}
.font16, .font16-b, .font16-bu, .font16-u {
	font-size: 16px !important;
}
.font18, .font18-b, .font18-bu, .font18-u {
	font-size: 18px !important;
}
.font20, .font20-b, .font20-bu, .font20-u {
	font-size: 20px !important;
}
.font16-b, .font18-b, .font20-b, .strong {
	font-weight: bold !important;
}
.font16-u, .font18-u, .font20-u, .upper {
	text-transform: uppercase !important;
}
.font16-bu, .font18-bu, .font20-bu  {
	font-weight: bold !important;
	text-transform: uppercase !important;
}
.hidden {
	display: none !important;
}
.clear {
	clear: both !important;
}
.left {
	float: left !important;
}
.right {
	float: right !important;
}
.center {
	text-align: center !important;
}
.txtright {
	text-align: right !important;
}
.em {
	font-style: italic !important;
}
.outer {
	padding: 0 !important;
	margin: 0 !important;
	width: 100% !important;
	clear: both;
	position: relative;
}
.wrap {
	margin: 0 auto;
	width: 90%;
	clear: both;
}
.block {
	display: block !important;
}
.form-item-wrap {
	float: left;
	width: 100%;
}
.form-item {
	margin: 5px;
}
.form-label-wrap {
	width: 100%;
	margin-bottom: 2px;
}
.form-label {
	font-size: 14px;
}
.form-input-wrap {
	width: 100%;
}
.form-input {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #AAAAAA;
	font-size: 14px;
	height: 2em;
	padding: 3px;
	width: 100%;
}
.form-input:focus {
	border: 1px solid #0000FF;
}
.button-bar {
	clear: both;
	margin: 15px 0 5px;
	padding: 15px 0 5px;
	text-align: center;
	border-top: 1px dashed #ccc; 
}
.button-bar .button {
	margin: 0 10px''
}
.w20 {
	width: 20%;
}
.w25 {
	width: 25%;
}
.w33 {
	width: 33.3%;
}
.w30 {
	width: 30%;
}
.w35 {
	width: 35%;
}
.w40 {
	width: 40%;
}
.w50 {
	width: 50%;
}
.w60 {
	width: 60%;
}
.w65 {
	width: 65%;
}
.w70 {
	width: 70%;
}
.w66 {
	width: 66.6%;
}
.w75 {
	width: 75%;
}
.w80 {
	width: 80%;
}
.w90 {
	width: 90%;
}
.septop2 {
	margin-top: 2px !important;
}
.septop5 {
	margin-top: 5px !important;
}
.septop10 {
	margin-top: 10px !important;
}
.septop15 {
	margin-top: 15px !important;
}
.septop20 {
	margin-top: 20px !important;
}
.septop30 {
	margin-top: 30px !important;
}
.sepleft5 {
	margin-left: 5px !important;
}
.sepleft10 {
	margin-left: 10px !important;
}
.sepleft15 {
	margin-left: 15px !important;
}
.sepleft20 {
	margin-left: 20px !important;
}
.sepleft25 {
	margin-left: 25px !important;
}
.sepleft30 {
	margin-left: 30px !important;
}
.sepright10 {
	margin-right: 10px !important;
}
.sepright15 {
	margin-right: 15px !important;
}
.sepright20 {
	margin-right: 20px !important;
}
.sepright30 {
	margin-right: 30px !important;
}
.sepbot5 {
	margin-bottom: 5px !important;
}
.sepbot10 {
	margin-bottom: 10px !important;
}
.sepbot15 {
	margin-bottom: 15px !important;
}
.sepbot20 {
	margin-bottom: 20px !important;
}
.sepbot25 {
	margin-bottom: 25px !important;
}
.sepbot30 {
	margin-bottom: 30px !important;
}
.nonsepbot {
	margin-bottom: 0 !important;
}
.nonseptop {
	margin-top: 0 !important;
}
.nonbreak-wrapper {
	display: table-row !important;
}
.nonbreak {
	display: table-cell !important;
	white-space: nowrap;
	vertical-align: middle;
}
.blockcenter {
	display: block;
	margin-left: auto; 
	margin-right: auto; 
}
.loading {
	background-color: #FFFFFF;
	background-image: url("../images/loading.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	opacity: 0.8;
	filter: alpha(opacity=80);
	z-index: 66666;
}
.loading-small {
	background-image: url("../images/loading_small.gif");
}
.uifreezer {
	background: #FFFFFF;
	position: fixed;
	opacity: 0.8;
	filter: alpha(opacity=80);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 13;
}
#_screen_loading {
	border: 1px solid #CCCCCC;
	height: 70px;
	left: 50%;
	margin-left: -50px;
	position: fixed;
	top: 5%;
	width: 100px;
	box-shadow: 0 0 3px #CCCCCC;
	-moz-box-shadow: 0 0 3px #CCCCCC;
	-webkit-box-shadow: 0 0 3px #CCCCCC;
	z-index: 66666;
}

/* Custom noty default theme  */
.noty_message {
	line-height: 1.5em !important;
	text-align: left !important;
}
.noty_buttons > * {
	margin-left: 8px !important;
}
#noty_topCenter_layout_container, #noty_topCenter_layout_container li {
	min-width: 310px !important;
	max-width: 580px !important;
	width: auto !important;
}