.match-box {

	position: relative;
	width: 250px;
	height: 155px;
	/* background: url('../images/match.png') no-repeat; */
	float: left;
	margin: 0 10px 10px 0;
	padding: 16px 0 0 18px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}

.match-box * {
	color: #5C5C5C;
}

.sep {
	background-color: #a5acae;
	height: 1px;
	left: 0;
	position: absolute;
	top: 119px;
	width: 100%;
}

.match-flag {

	position: absolute;
	top: 26px;
	width: 100px;
	height: 60px;
	background: url('../images/flag-match.png') no-repeat;
	z-index: 100;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: #333 1px solid;

}

.team1 { left: 15px; }
.team2 { right: 15px; }

/* flags backgrond position in flags.css */

.match-location {

	position: absolute;
	top: 127px;
	text-align: left;
	font-size: 14px;

}

.team-name {
	position: absolute;
	font-size: 16px;
	width: 105px;
	top: 90px;
}

.name1 {
	left: 15px;
	text-align: left;
}

.name2 {
	left: 130px;
	text-align: right;
}

.team-result {
	
	position: absolute;
	width: 25px;
	height: 35px;
	z-index: 1000;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #898989;
	font-size: 23px;
	font-size: 16px;
	top: 38px;
	text-align: center;
	
}

.res1 { left: 97px; }

.res2 { left: 128px; }

.dash { }

.hidden { display: none; }





/* 100x60 flags (matches) */

.br-big { background-position: 0 0 !important; }
.hr-big { background-position: 0 -60px !important; }
.mx-big { background-position: 0 -120px !important; }
.cm-big { background-position: 0 -180px !important; }

.es-big { background-position: 0 -240px !important; }
.nl-big { background-position: 0 -300px !important; }
.cl-big { background-position: 0 -360px !important; }
.au-big { background-position: 0 -420px !important; }

.co-big { background-position: 0 -480px !important; }
.gr-big { background-position: 0 -540px !important; }
.ci-big { background-position: 0 -600px !important; }
.jp-big { background-position: 0 -660px !important; }

.uy-big { background-position: 0 -720px !important; }
.cr-big { background-position: 0 -780px !important; }
.en-big { background-position: 0 -840px !important; }
.it-big { background-position: 0 -900px !important; }

.ch-big {
	background-position: 0 -960px  !important;
}

.ec-big { background-position: 0 -1020px !important; }
.fr-big { background-position: 0 -1080px !important; }
.hn-big { background-position: 0 -1140px !important; }

.ar-big { background-position: 0 -1200px !important; }
.ba-big { background-position: 0 -1260px !important; }
.ir-big { background-position: 0 -1320px !important; }
.ng-big { background-position: 0 -1380px !important; }

.de-big { background-position: 0 -1440px !important; }
.pt-big { background-position: 0 -1500px !important; }
.gh-big { background-position: 0 -1560px !important; }
.us-big { background-position: 0 -1620px !important; }

.be-big { background-position: 0 -1680px !important; }
.dz-big { background-position: 0 -1740px !important; }
.ru-big { background-position: 0 -1800px !important; }
.kr-big { background-position: 0 -1860px !important; }