/* Common properties */
#overlay {
	
	display: none;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(50,50,50); /* fallback for older browsers*/
	background: rgba(50,50,50,0.5);
	
}

.highlighted {
	position: absolute !important;
	z-index: 10;
}

#help-dialog {
	
	display: none;
	
	position: absolute !important;
	z-index: 2000;
	
	top: -50%;
	left: -50%;
	
	width: 243px;
	height: auto;
	
	background: #fff;
	border: 3px solid #666;
	
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	padding: 15px;
	
	text-align: left;
	
}

#help-dialog:after, #help-dialog:before {
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#help-dialog:after {	border-width: 26px;	}
#help-dialog:before {	border-width: 30px;	}


/* top baloon specific properties */

.top-baloon {	margin: -210px 0 0 -120px; }

.top-baloon:after {
	top:100%;
	left: 50%;
	border: solid transparent;
	border-top-color: #fff;
	margin-left: -26px;
}

.top-baloon:before {
	top:100%;
	left: 50%;
	border: solid transparent;
	border-top-color: #666;
	margin-left: -30px;
}


/* bottom baloon specific properties */

.bottom-baloon {	margin: 30px 0 0 -121px;	}

.bottom-baloon:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	border-bottom-color: #fff;
	margin-left: -26px;
}

.bottom-baloon:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	border-bottom-color: #666;
	margin-left: -30px;
}


/* left baloon specific properties */

.left-baloon {	margin: -82px 0 0 -270px; }

.left-baloon:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	border-left-color: #fff;
	margin-top: -26px;
}

.left-baloon:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	border-left-color: #666;
	margin-top: -30px;
}


/* right baloon specific properties */

.right-baloon {	margin: -74px 0 0 30px;	}

.right-baloon:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	border-right-color: #fff;
	margin-top: -26px;
}

.right-baloon:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	border-right-color: #666;
	margin-top: -30px;
}





/* Help box content */

#help-header {
	
	font-size: 14px;
	color: #666;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	margin-bottom: 5px;
	
}

#help-text {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	margin-bottom: 20px;
}

#help-next, #help-prev {

	width: 100px;
	height: 30px;
	border: #666 1px solid;
	background: #fcfcfc;

}

#help-next:hover, #help-prev:hover {	cursor: pointer;	}

#help-prev {
	float: left;
	border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	-webkit-border-radius: 0 0 0 5px;
}

#help-next {
	float: right;
	border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
}