body {
	min-height: 1095px;
	background: none repeat scroll 0 0 #F1EFFF;
}
.group-button-bar {
	width: 510px;
}
#group_title {
	background: url("../images/group_title.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 41px;
	left: 205px;
	position: absolute;
	top: 35px;
	width: 550px;
}

#container {
	background-attachment: fixed;
}

#container > div {
	
	position: relative;
	float: left;

}

#timezone-box {
	padding: 20px 0 15px 20px;
}

#header > div {
	float: left;
}

#title {
	/* background: url('../images/title.png') no-repeat; */
}

#settings {
	float: left;
	height: 100%;
	text-align: right;
	width: 250px;
}
#settings .button {
	cursor: pointer;
	display: inline-block;
	height: 22px;
	margin: 6px 3px;
	vertical-align: middle;
	width: 24px;
}
#widget-view-option {
	background-image: url('../images/widget_view_nomal.png');
}
#widget-view-option:hover, #widget-view-option.active {
	background-image: url('../images/widget_view_active.png');
}
#list-view-option {
	background-image: url('../images/list_view_normal.png');
}
#list-view-option:hover, #list-view-option.active {
	background-image: url('../images/list_view_active.png');
}
#settings #help-btn {
	background-image: url('../images/help_btn_normal.png');
	margin-right: 10px;
}
#settings #help-btn:hover, #settings #help-btn.active {
	background-image: url('../images/help_btn_active.png');
}

/* GROUP TABS */

#group-buttons {
	height: 1030px;
	margin-left: 10px;
	width: 140px;
}

#content {
	width: 575px;
	height: 974px;
	margin-right: 5px;
	padding: 10px 5px 10px 33px;
	z-index: 1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
/* 	background: url('../images/content-background.png') no-repeat right; */
}


/* Group buttons */

.group-btn {
	width: 135px;
	height: 120px;
	float: left;
	padding: 10px 11px 5px 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/* background: url('../images/group-background.png') no-repeat; */
}
.group-btn , .group-connector {
	margin: 1px 0;
}
.group-btn.first
, .group-connector.first
, #content
, #right
{
	margin-top: 5px;
}
.group-btn .group-text {
	color: #FFF;
}
.group-btn .flag {
	border-color: #fff;
}
.group-btn.hover .group-text {
	color: #000;
}
.group-btn.hover .flag {
	border-color: #000;
}

.hover {
	cursor: pointer;
}				

.group-connector {
	width: 5px;
	height: 120px;
	float: left;
	clear: right;
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	 filter: alpha(opacity=0);
	 -moz-opacity: 0;
	 -khtml-opacity:0;
	 opacity: 0;
	/* background: url('../images/group-connector.png'); */
}

.connected {
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	 filter: alpha(opacity=100);
	 -moz-opacity: 1;
	 -khtml-opacity: 1;
	 opacity: 1;
	background-image: url("../images/bg_opacity.png");
	background-repeat: repeat;
	/* background: url('../images/group-connected.png'); */
}

.vert-separator {
	width: 100%;
	height: 10px;
	clear: both;
	background: url('../images/vert-separator.png');
}


.bg-opacity {
	background-image: url("../images/bg_opacity.png");
	background-repeat: repeat;
}

.bg-opacity1 {
	/* background-image: url("../images/bg_opacity1.png"); */
	background-color: rgba(255, 255, 255, 0.6);
	background-repeat: repeat;
}

.group-text {
	margin-bottom: 6px;
	text-align: center;
	font-size: 16px;
}

/* flags background position in flags.css */



/* progress bar style */

#progress-bar {
	
	position: relative;
	width: 250px;
	height: 24px;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0;
	margin: 5px 0 5px 10px;
}

#prog-perc {
	
	text-align: center;
	position: absolute;
	top: 0; left: 0;
	width: 240px;
	height: 100%;
	font-size: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-top: 1px;
	color: #616161
	
}

#prog-boxes {
	
	width: 240px;
	height: 100%;
	
}

#prog-boxes > span {
	display: block;
	float: left;
	width: 20px;
	height: 100%;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 0;
	border-right-width: 0;
	border-style: solid; 
	border-color: #bac1c5;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #e9e9e9;
	color: #616161;
	
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d0d0d0), to(#fff)); 
	 background: -webkit-linear-gradient(top, #d0d0d0, #fff);
	 background: -moz-linear-gradient(top, #d0d0d0, #fff);
	 background: -ms-linear-gradient(top, #d0d0d0, #fff); 
	 background: -o-linear-gradient(top, #d0d0d0, #fff);
	
}
#prog-boxes > span:first-child {
	border-left-width: 2px;
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
}

#prog-boxes > span:last-child {
	border-right-width: 2px;
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
}

#prog-boxes > span.filled { 
	background-color: #01d681;
	
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#03faa0), to(#00bf6c)); 
	 background: -webkit-linear-gradient(top, #03faa0, #00bf6c);
	 background: -moz-linear-gradient(top, #03faa0, #00bf6c);
	 background: -ms-linear-gradient(top, #03faa0, #00bf6c); 
	 background: -o-linear-gradient(top, #03faa0, #00bf6c);
}

#random-scores {
	left: 0;
}
#random-scores {
	left: 0;
}
#clear {
	left: 180px;
}
#next-group {
	right: 0;
}
#knockout-btn-big {
	right: 0;
}

/* Match boxes */

/* Widget View --> widget-view.css */
/* List View --> list-view.css */


/* Right column */

#right {
	width: 220px;
	height: 1030px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 0;
}
#right > div {
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	
}

#right h3 {
	
	font-size: 16px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 0;
}

#right h3, #right th, #right td {
	color: #fff;
}

#right hr {
  border: 0 none;
  height: 1px;
  width: 90%;
  border-top: 1px solid #CBCBCB;
}

/* Bracket rendering */

#predicted-matches {
	
	margin-bottom: 5px;
	width: 220px;
	height: 310px;
	/* background: url('../images/predicted-matches.png') no-repeat; */
	
}

#predicted-matches > div {
	height: 195px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	margin-top:10px;
}
#predicted-matches > div > div {
	border-color: #00e78b;
}
.left-bracket div {
	border-right-width: 1px;
	border-right-style: solid;
	float:right;
}

div.col1.last-col {
	margin-left: 0;	
}

.right-bracket div {
	border-left-width: 1px;
	border-left-style: solid;
	float:left;
}

.col1 {
	margin-left: 14px;
	width: 30px;
}

.col2 {
	width: 16px;
}

.col2 > div {
	width: 100%;
	height: 13px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.col2 > div:first-child {
	margin-top: 9px;
}

.col2 > div:nth-child(2),
.col2 > div:nth-child(4),
.col2 > div:nth-child(6),
.col2 > div:nth-child(8) {

	margin-bottom: 22px;
	border-bottom-width: 1px;
	border-bottom-style: solid;

}

.col2 > div:nth-child(1),
.col2 > div:nth-child(3),
.col2 > div:nth-child(5),
.col2 > div:nth-child(7) {
	
	border-top-width: 1px;
	border-top-style: solid;
	
}


.col3 {
	width: 20px;
	
}

.col3 > div {
	width: 100%;
	height: 25px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.col3 > div:first-child {
	margin-top: 21px;
}

.col3 > div:nth-child(1),
.col3 > div:nth-child(3) {
	border-top-width: 1px;
	border-top-style: solid;
}

.col3 > div:nth-child(2),
.col3 > div:nth-child(4) {
	margin-bottom: 46px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}


.col4 {
	width: 20px;
}

.col4 > div {
	width: 100%;
	height: 48px;
}

.col4 > div:first-child {
	margin-top: 45px;
	border-top-width: 1px;
	border-top-style: solid;
}

.col4 > div:last-child {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.col5 {
	width: 20px;
}

.col5 > div {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	height: 94px;
}

#go-knockout {
	display: none;
	border: none;
	margin-left: 13px;
	margin-left: 40px;
    margin-top: 5px;
}

#go-knockout:hover {
	
	cursor: pointer;
	
}

#predicted-points {
	
	width: 220px;
	height: 220px;
	/* background: url('../images/predicted-points.png') no-repeat; */
	
}

#predicted-points table {
	border-collapse: collapse;
	font-size: 10px;
	margin: 15px 5px 0;
	text-align: center;
	width: 210px;
}

#predicted-points td, #predicted-points th {
	border-color: #89a6b3;
}

#predicted-points th, #predicted-points td {
	
	width: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	
}

#predicted-points th:first-child,
#predicted-points td:first-child {
	
	width: 25px;
	
}

#predicted-points th { height: 20px; }
#predicted-points td { height: 25px; }

#predicted-points th:last-child, .pts {
	border-left-width: 1px;
	border-left-style: solid;
}

.pts-flag {
	
	text-align: right;
	
}

.pts-flag > img {
	position: relative;
	top: 1px;
	height: 20px;
	width: auto;
	border: #333 1px solid;	
}