/* layout min-width: 710px */

/* set box sizing properties for all divs */
div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	 background: none repeat scroll 0 0 #F1EFFF;
	 min-height: 848px;
}

/* fulltime div: contains #header and #content */

.knockout-area {
	height: 580px;
	position: absolute;
	left: 50%;
	height: 100%;
	padding: 0;
}

.knockout-area-foot {
	height: 186px;
	left: 50%;
	margin-left: -480px;
	position: absolute;
	top: 579px;
	width: 960px;
}

#header-container {
	width: 100%;
	height: 80px;
	background: #fff;
}

/* header box (parent: #container) */
#header {
	position: absolute;
	top: 0; left: 50%;
	height: inherit;
}

#knockout_title {
	 background-image: url("../images/knock_title.png");
	 height: 40px;
	 left: 210px;
	 position: absolute;
	 top: 35px;
	 width: 420px;
}

/* content box */
#content {
	position: absolute;
	top: 80px;
	margin: 0 auto 0 auto;
	width: 100%;
	height: 580px;
}

#header, .knockout-area {
	margin-left: -480px;
	width: 960px;
}

.row1 {	top: 20px; }
.row2 {	top: 180px; }

.row3 { top: 340px; }
.row4 { top: 500px; }

.row21 { top: 100px }
.row22 { top: 420px }

.col3, .col5 { top: 260px; }

.final1 { top: 500px }
.final2 { top: 20px }

.bracket { height: 80px }

.bracket.row1, .bracket.row3 { margin-top: 30px }
.bracket.row2, .bracket.row4 { margin-top: -50px } /* -80px (height) + 30px (margin-top) */

#bracket21, #bracket22, #bracket23, #bracket24 { height: 160px }

#bracket21, #bracket23 { top: 130px; }
#bracket22, #bracket24 { top: 290px; }

.horiz {
	width: 20% !important;
	top: 50%;
	left: 50%;
	margin-top: -1px;
}

#bracket3-hor-left { margin-left: -20%; }

#bracket3-vertical {

	height: 480px !important;
	top: 50px;
	left: 50%;
	margin-left: -1px;

}

/* match box style */
.match-box {
	position: absolute;
	z-index: 1;
	height: 60px;
}

.team {
	height: 30px;
}

.team1 > .fulltime-result {
	border: #333 1px solid;
}
.team2 > .fulltime-result {
	border: #333 1px solid;
	border-top: none;
}

.fulltime-result {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 3px 0 0 6px;
  width: 25px;
}

.col1 .team1 .fulltime-result, .col2 .team1 .fulltime-result, .col3 .team1 .fulltime-result {
	border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
}

.col1 .team2 .fulltime-result, .col2 .team2 .fulltime-result, .col3 .team2 .fulltime-result {
	border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
}

.col5 .team1 .fulltime-result, .col6 .team1 .fulltime-result, .col7 .team1 .fulltime-result {
	border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
}

.col5 .team2 .fulltime-result, .col6 .team2 .fulltime-result, .col7 .team2 .fulltime-result {
	border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	-webkit-border-radius: 0 0 0 5px;
}

.team-name {
	width: 88px;
	line-height: 30px;
	background: #F9F9F0;
}

.match-flag {
	width: 50px;
	background: url('../images/flag.png') no-repeat; /* 50x30px */
	background-position-x: 0px !important;
	border-color: #333;
	border-style: solid;
}

.team1 > .match-flag {
	border-width: 1px 1px 1px 1px;
}

.team2 > .match-flag {
	border-width: 0 1px 1px 1px;
}

.team > div, .team > input {
	float: left;
	height: 30px;
}

.col1, .col2, .col3, .final1 {
	text-align: left;
}

.col5, .col6v, .col7 , .final2 {
	text-align: right;
}

.team1 .team-name {
	border-top: #333 1px solid;
	border-bottom: #333 1px solid;
}

.team2 .team-name {
	border-bottom: #333 1px solid;
}

.col1 .team-name, .col2 .team-name, .col3 .team-name, .final1 .team-name {
	padding-left: 5px;
}

.col5 .team-name, .col6 .team-name, .col7 .team-name, .final2 .team-name {
	text-align: right;
	padding-right: 5px;
}

.col1 {	left: 2%; }
.col2 { left: 14%; }
.col3 { left: 24%; }
.col4 { left: 50%; }
.col5 { right: 24%; }
.col6 { right: 14%; }
.col7 { right: 2%; }

.final1, .final2 {
	left: 50%;
}
.final1 {
	margin-left: -85px;
}
.final2 {
	margin-left: -105px;
}
/* flags to be centered*/
.br, .hr, .mx, .cm,
.ci, .jp, .en, .it,
.ec, .fr, .hn, .ar,
.ir, .ng, .gh,
.be, .dz, .kr { background-position-x: 0 !important; }


/* switzerland */
/* .ch {
	background-position-x: 0 !important;
}

.col1 .ch, .col2 .ch, .col3 .ch {
	margin-left: 0 !important;
	margin-right: 0 !important;
    width: 50px !important;
}

.final1 .ch, .final2 .ch {
	margin-left: 14px !important;
	margin-right: 0 !important;
}

.col5 .ch, .col6 .ch, .col7 .ch {
	margin-left: 0 !important;
} */

.no-flag {
	background-image: none !important;
	background-color: #e3e3e3 !important;
}

/* 100x60 flags (matches) */
.big-match-flag {
	width: 104px;
	height: 64px;
	background: url('../images/flag-match.png') no-repeat;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: #333 2px solid;
}

.br-big { background-position: 0 0 !important; }
.hr-big { background-position: 0 -60px !important; }
.mx-big { background-position: 0 -120px !important; }
.cm-big { background-position: 0 -180px !important; }

.es-big { background-position: 0 -240px !important; }
.nl-big { background-position: 0 -300px !important; }
.cl-big { background-position: 0 -360px !important; }
.au-big { background-position: 0 -420px !important; }

.co-big { background-position: 0 -480px !important; }
.gr-big { background-position: 0 -540px !important; }
.ci-big { background-position: 0 -600px !important; }
.jp-big { background-position: 0 -660px !important; }

.uy-big { background-position: 0 -720px !important; }
.cr-big { background-position: 0 -780px !important; }
.en-big { background-position: 0 -840px !important; }
.it-big { background-position: 0 -900px !important; }

.ch-big {
	background-position: 0 -960px  !important;
	width: 60px;
}

.ec-big { background-position: 0 -1020px !important; }
.fr-big { background-position: 0 -1080px !important; }
.hn-big { background-position: 0 -1140px !important; }

.ar-big { background-position: 0 -1200px !important; }
.ba-big { background-position: 0 -1260px !important; }
.ir-big { background-position: 0 -1320px !important; }
.ng-big { background-position: 0 -1380px !important; }

.de-big { background-position: 0 -1440px !important; }
.pt-big { background-position: 0 -1500px !important; }
.gh-big { background-position: 0 -1560px !important; }
.us-big { background-position: 0 -1620px !important; }

.be-big { background-position: 0 -1680px !important; }
.dz-big { background-position: 0 -1740px !important; }
.ru-big { background-position: 0 -1800px !important; }
.kr-big { background-position: 0 -1860px !important; }

/* match details position */

/* horizontal */
.d-left { left: 25%; }
.d-center { left: 50%; }
.d-right { left: 75%; }

/* vertical */
.d-top { top: 25%; }
.d-middle { top: 50%; }
.d-bottom { top: 75%; }

.bracket {
	position: absolute;
	z-index: 0;
	width: 12%;
}

.right { border-right: #999 2px solid; }
.left { border-left: #999 2px solid; }
.top { border-top: #999 2px solid; }
.bottom { border-bottom: #999 2px solid; }

/* if you like rounded border, uncomment the part below */
/* .top.right {
	border-radius: 0 15px 0 0;
	-moz-border-radius: 0 15px 0 0;
	-webkit-border-radius: 0 15px 0 0;
}

.top.left {
	border-radius: 15px 0 0 0;
	-moz-border-radius: 15px 0 0 0;
	-webkit-border-radius: 15px 0 0 0;
}

.bottom.right {
	border-radius: 0 0 15px 0;
	-moz-border-radius: 0 0 15px 0;
	-webkit-border-radius: 0 0 15px 0;
}

.bottom.left {
	border-radius: 0 0 0 15px;
	-moz-border-radius: 0 0 0 15px;
	-webkit-border-radius: 0 0 0 15px;
} */


.selected {	
	border-color: #fff;
	border-width: 3px;
}

/* bracket1x */

@media (max-width: 920px) {

	#bracket11, #bracket12, #bracket13, #bracket14 { left: 18%; }
	#bracket15, #bracket16, #bracket17, #bracket18 { right: 18%; }	
	
}

@media (min-width: 921px) and (max-width: 1200px) {

	#bracket11, #bracket12, #bracket13, #bracket14 { left: 12%; }
	#bracket15, #bracket16, #bracket17, #bracket18 { right: 12%; }
	
}

@media (min-width: 1201px) {

	#bracket11, #bracket12, #bracket13, #bracket14 { left: 12%; }
	#bracket15, #bracket16, #bracket17, #bracket18 { right: 12%; }
	
}

/* bracket2x */

@media (max-width: 760px) {
	
	#bracket21, #bracket22 { left: 30%; }
	#bracket23, #bracket24 { right: 30%; }
	
}

@media (min-width: 761px) and (max-width: 920px) {

	#bracket21, #bracket22 { left: 28%; }
	#bracket23, #bracket24 { right: 28%; }
	
}

@media (min-width: 921px) and (max-width: 1100px) {
	#bracket21, #bracket22 { left: 25%; }
	#bracket23, #bracket24 { right: 25%; }
}

@media (min-width: 1101px) {
	#bracket21, #bracket22 { left: 24%; }
	#bracket23, #bracket24 { right: 24%; }
}

.bracket {
	border-color: #C9C9C9;
	border-width: 1px !important;
}

.bracket.selected {
	border-color: #00fc65;
	border-width: 2px !important;
}

/* table with group stage results - check knockout2.php */

.match-box {
	-webkit-transition: all 0.2 ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	/* box-shadow: 0 0 15px 3px #323232;
	-moz-box-shadow: 0 0 15px 3px #323232;
	-webkit-box-shadow: 0 0 15px 3px #323232; */
	min-width: 194px;
}

.match-box.left-box {
	background-image: url("../images/match_left_bg.png");
}
.match-box.right-box {
	background-image: url("../images/match_right_bg.png");
}
.match-box.right-box .team-and-round
,.match-box.right-box .team div
,.match-box.right-box .result-ctn
{
	float: right;
}

.match-box.bigger {
	background-image: none;
}

.match-box * {
	font-size: 14px;
}
.match-box.bigger {
	height: auto;
}
.match-box .extra
, .match-box .fulltime 
, .match-box .penalty 
, .match-box .round 
, .match-box .time-and-place 
{
	display: none;
}
.match-box .team-info
,.match-box .result-ctn
,.match-box .team-and-round
{
	float: left;
}
.match-box .round {
	width: 130px;
}
.match-box .final .match-result {
	background-color: #AAAAAA;
}
.match-box.enabled .final .match-result {
	background-color: #D2C6FF;
	cursor: pointer;
}
.match-box.bigger .final .match-result {
	cursor: default;
}
.match-box.enabled {
	cursor: pointer;
}
.result-ctn {
	position: relative;
	float: left;
	height: 85px;
	text-align: center;
	width: 25px;
}
.bigger .team-and-round, .bigger .result-ctn {
	margin: 0 1px 0 0;
}
.match-box * {
	border-color: #FFF !important;
}
.match-box.bigger * {
	border-color: #000 !important;
}
.match-box .match-result {
	left: 0;
	position: absolute;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0;
	width: 25px;
	border: 1px solid #333333;
	height: 31px;
	text-align: center;
}
.match-box ._top {
	top: 0;
}
.match-box ._bot {
	top: 29px;
}
.bigger {
	background-color: #FFFFFF;
	border: 4px double #000000;
	box-shadow: 0 0 20px 3px #DDDDDD;
	-moz-box-shadow: 0 0 20px 3px #DDDDDD;
	-webkit-box-shadow: 0 0 20px 3px #DDDDDD;
	padding: 5px;
	z-index: 5;
}
.bigger .round {
	margin-right: 1px;
}
.bigger.final1 .round {
	font-size: 12px;
	line-height: 1.5em;
}
.bigger ._top {
	top: 24px;
}
.bigger ._bot {
	top: 53px;
}
.bigger .team1 > .fulltime-result {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.bigger .team2 > .fulltime-result {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.bigger .time-and-place {
	display: block;
	clear: both;
	padding: 6px 2px 0;
}
.bigger .round {
	display: block;
	padding: 0 2px 6px;
}
.bigger.left-box .team-name {
	border-right: 1px solid;
}
.right-box.bigger .team-name {
	border-left: 1px solid;
}
.bigger.has-extra .extra {
	display: block;
}
.bigger.has-penalty .penalty {
	display: block;
}
.bigger .fulltime  {
	display: block;
}
.random-score-button {
	  left: 570px;
	  position: absolute;
	  top: 30px;
}
.clear-score-button {
	position: absolute;
	top: 30px;
	left: 550px;
}
.save-all-button {
	position: absolute;
	top: 30px;
	left: 400px;
}

#go_group_stage {
	left: 230px;
	position: absolute;
	top: 30px;
}

/* FOR CHROME ONLY */
.chrome .bigger ._top {
	top: 23px;
}
.chrome .bigger ._bot {
	top: 52px;
}