#container {
  background-attachment: fixed;
}

#user_page_title {
	background: url("../images/user_page_title.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 41px;
	left: 205px;
	position: absolute;
	top: 35px;
	width: 550px;
}

#container {
	min-height: 4165px;
}
#go_area {
	border-bottom: 1px solid #B5B5B5;
	text-align: center;
	padding: 10px 0;
}
#go_area * {
	margin: 0 20px;
}
#middle_area {
	border-bottom: 1px solid #B5B5B5;
}
#grid_area {
	height: 400px;
	margin-bottom: 20px;
}
.result-box-ctn {
	width: 660px;
	height: 170px;
	margin: 15px auto;
}
.result-box {
	width: 180px;
	height: 164px;
	margin: 0 15px;
	background-color: rgba(255,255,255,0.7);
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: rgb(85, 85, 85);
	border: 3px solid rgb(139, 150, 153);
}
.result-box-head {
	 border-bottom: 1px solid rgb(118, 118, 118);
	 padding: 5px 0;
	 text-align: center;
}
.result-box-body {
	background-position: center center;
	background-repeat: no-repeat;
	font-size: 80px;
	height: 132px;
	line-height: 132px;
	text-align: center;
}
.result-box-body.total-point {
	font-size: 60px;
}
.grid-ctn {
	margin: 15px auto 0;
	min-height: 500px;
	position: relative;
	width: 95%;
}
.grid-ctn * {
	color: rgb(85, 85, 85);
}
.grid-head {
	position: absolute;
	top: 0;
	width: 100%;
}
.grid-head-tab {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	cursor: pointer;
	padding: 5px 0 4px;
	position: absolute;
	text-align: center;
	width: 150px;
	z-index: 1;
}
.grid-head-tab.selected {
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 2;
	color: #000;
}
.group-stage-tag {
	left: 40%;
	margin-left: -50px;
}
.knock-tab {
	left: 50%;
}
.grid-body {
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	top: 30px;
	width: 100%;
}
.group-grid {
	
}
.knock-grid {
	
}
.grid {
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 5px;
	width: 100%;
}
.grid tr:hover {
	background-color: rgba(255, 255, 255, 0.7);
}
.grid th, .grid td {
	border: 1px solid #AAAAAA;
	text-align: center;
	vertical-align: middle;
}
.grid tr th:first-child, .grid tr td:first-child {
	border-left: 0 none;
}
.grid tr th:last-child, .grid tr td:last-child {
	border-right: 0 none;
}
.grid th {
	background-color: rgba(255, 255, 255, 0.8);
	color: rgb(0, 0, 0);
	font-weight: normal;
	padding: 5px;
}
th.group {
	
}
th.match {
	width: 150px;
}
.knock-grid th.real {
	width: 70px;
}
.knock-grid th.your {
	width: 70px;
}
th.result {
	
}
th.point {
	
}
th.time {
	
}
th.status {
	
}
.grid td {
	padding: 1px;
	font-size: 14px;
}
.cell-split {
	
}
td .cell-split:first-child {
	border-bottom: 1px solid rgb(170, 170, 170);
}
td.congra {
	color: #1E881D;
	font-weight: bold;
	font-size: 13px;
}
td.congra.sorry {
	color: rgb(85, 85, 85);
	font-weight: normal;
	font-size: 14px;
}
.cell-split {
	height: 31px;
	padding: 3px; 
	line-height: 31px;
}
.team {
	
}
.team1 {
	
}
.team2 {
	
}
.flag {
	float: left;
	margin: 0;
}
.flag1 {
	
}
.flag2 {
	
}
.teamname {
	float: left;
	padding-left: 3px;
}
.teamname1 {
	
}
.teamname2 {
	
}
.scores-wrap {
	width: 100%;
	padding: 0;
}
.score-box {
	display: block;
	float: left;
	width: 33.3%;
	text-align: center;
}