/*######################################*/
/*Colors for the template */
/*######################################*/

body {
    background-color: none;
}

#home, #footer {
    background-color: #0B5A9C;
}

.cta1 {
    background-color:black;
}





.subscribe-submit, 
.subscribe-submit:active, 
.spinner > div,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.cta2 {
    background-color: #18bcf9;
}






#fb_icon:hover,
#tw_icon:hover, 
#in_icon:hover, 
#g_icon:hover, 
#pin_icon:hover, 
#fli_icon:hover,
.services_icon {
    fill:#18bcf9;
}





#fb_icon, 
#tw_icon, 
#in_icon, 
#g_icon, 
#pin_icon, 
#fli_icon {
    fill: rgba(255,255,255,0.5);
}





#preview {
    background-color:#fffcd2;
}

h3 {
    color:black;
}

h4 {
    color:#000;
	font-size: 1.8em !important;
}

.feature_icon {
    fill:#d8d8d8;
}

.arrow_up,
.arrow_down {
    fill:#f0f0f0;
}

.arrow_down:hover,
.arrow_up:hover {
    fill:#dddddd;
}

#features_3, .arrows_box_bg {
    background-color:#f7f8fa;
}

.owl-theme .owl-controls .owl-page span{
	background-color: #d8d8d8;
}


