body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px;
 font-family:"Arial", Arial, sans-serif;
}

.myFormResponse {
    display:none;
}

.flexslider {
margin-top:10px;
    width: 350px;
    height: 250px;
}

.flexslider .slides img {
    width: 350px;
    height: 250px;
}

.page {
    width:800px;
    margin:0 auto;
    padding: 5px;
}
.half {
    display:inline-block;
    width:44%;
    margin:0 2%;
}
.half  > img {
    margin-bottom:-30px;
}

#laptop{
	margin-left : -100px;
}
	
#info {
	margin-top : 200px;
	width:800px;
	margin:0 auto;
	padding: 5px;
}	
	
#twitter{
	margin-top :50px;
	margin-bottom : -100px; 
    float:left;
    width:400px;
	height:400px;
}

#info h2{
	width: 400px;
   }

#header {
	background: #EDF3F9;
	text-align : center;
}
h1 {
	font-size: 40px;	
	color: #0A5AA1;
}

h2{
	font-size: 20px;	
	color: #0A5AA1;
}

#blurb{
width:350px;
}
table {
width: 250px;
height: 250px;
float: right;
}

#content, #footer
{
background : #E4E8F1;}

#test{
	margin-left:100px;
	}

#twitter-timeline{
	width :500px;
}

input:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 20px;
    background: rgba(255,255,255,0.5);
    margin-bottom : 10px;
	display:block;
	width: 300px;
}

#btnSubmit
    {
	background:#0066A2;
	color:white;
	border-color:#0066A2;
	height:50px;
	width:250px;
	font-weight: bold ;
	font-size:15px;
	vertical-align:top;
	padding : 0px;
	}
	#btnSubmit:hover {
	color : yellow;
	}
	
	#footer h1 {
		text-align:center;
	}
i/*
 * Flexslider CSS! 
 */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {display: inline;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin-top: 40px; margin-right: 40px; background: #fff; float : left; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}


.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: inline; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

#footer {
	padding-bottom : 100px;
}