@charset "UTF-8";
/* CSS Document */
<style type="text/css">
IMG.displayed {
    display: block;
	top: 0px;
    margin-left: auto;
    margin-right: auto }
#content {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: auto;
	z-index: 1;
	text-align: center;
	color: #3997D7;
	font-size: 24px;
}
#content  p {
	font-family: Arial, Helvetica, sans-serif;
	color: #22649F;
	font-size: 16px;
}
#content  p2 {
	font-family: Arial, Helvetica, sans-serif;
	color: #358ECF;
	font-size: 14px;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #22649F;
	font-size: 36px;
	display: inline;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	color: #22649F;
	font-size: 14px;
	display: inline;
	text-decoration: none;
}
body {
	background-color: #F3F3F4;
	
}
</style>

