p
{
  margin-bottom:0.3em;
}
#intro
{
  border-bottom:1px solid #A0A0A0;
}
#intro p, #howto p,#popup1 p, #popup2 p
{
  margin-bottom:0.3em;
}
#footer p
{
  font-size:5pt;
  margin-bottom:0.3em;
  text-align:center;
}
#myForm1,#myForm2
{
  float:left;
  width:250px;
  height:110px;
}
.jerseypic
{
  width:100px;
  height:110px;
  margin-left:275px;
}

#tshirt img
{
  width:250;
}
#tshirt
{
  width:50px;
  /*height:137px;*/
  margin-left:250px;
}

a{
	color:white !important;
}
div.flag-24{
	display:block;
	float:left;
	margin-right:4px;
}

#pots,
#groups{
	font-size:14px;
	line-height:24px;
	font-family:'Oswald';
}

#pots h3,
#groups h3{
	color:#666;
	font-size:13px;
	font-weight:normal;
	line-height:1.5;
	padding:0;
	border-bottom:1px solid #ddd;
}

#pots div.potW,
#groups div.groupW{
	float:left;
	width:25%;
	overflow:hidden;
	margin:10px 0;
	padding:0 0 0 15px;
}
#pots div.potW label{
	display:block;
	clear:both;
	font-size:13px;
}

#pots:after{
	content:"";
	clear:both;
	display:block;
}
#pots ul{
	margin:0;
}
#pots li{
	clear:both;
}

#groups:after{
	content:"";
	clear:both;
	display:block;
}
#groups ul{
	margin:0;
	border-top:rgba(0,0,0,.2);
}
#groups li{
	clear:both;
}
#groups div.c{
	position:absolute;
}

#drawexec,
#standings{
	display:block;
	width:15em;
	margin:20px auto;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/font.woff) format('woff');
}

*{-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
body{margin:0 auto;background:#fff;color:#3F464C;font-size:94%;font-family:'Arial', 'Hiragino Kaku Gothic Pro', Meiryo, Osaka, 'MS PGothic', sans-serif}
a,img,th,t,div,span{-webkit-transition:0.1s ease-out;-moz-transition:0.1s ease-out;-o-transition:0.1s ease-out;transition:0.1s ease-out;-webkit-transition-property:background-color,color,border-color,opacity;-moz-transition-property:background-color,color,border-color,opacity;-o-transition-property:background-color,color,border-color,opacity;transition-property:background-color,color,border-color,opacity}
a{color:#06c;text-decoration:none}
a:hover{color:#c06;text-decoration:underline}
img{border:none}
#logo{display:block;float:left;width:25%;height:110px;background-position:0% 50%;background-repeat:no-repeat;background-image:url(//img.ultra-zone.net/ultrazone/logo-w.png);text-indent:-9999px;opacity:.95}
#logo:hover{opacity:.9}
h2{margin:0;padding:0;font-size:120%}
h3,h4,h5,h6{margin:0;padding:0;font-size:100%}
table{margin:0;border-collapse:collapse;font-size:12px}
caption{display:none}
th{padding:2px 4px;font-weight:400;text-align:left}
td{padding:2px 4px}pre{font-family:'Oswald';line-height:1.2}
ul{margin:0 0 16px 0;padding:0;list-style-type:none}
ul.dot-square{padding:0 0 0 24px;list-style-type:square}
dl,dt,dd{margin:0;padding:0;font-size:small}
dt{float:left;clear:left;margin-right:.5em}
dt:after{content:':'}
p{margin:0 auto 1.75em;padding:0;line-height:1.75}
p a{text-decoration:underline}
input,select{vertical-align:middle}
select{height:28px}
input[type="text"],input[type="email"],textarea{background:#fff;color:#333;border:1px solid #999}
.rtxt{text-align:right}
.ctxt{text-align:center}
.ltxt{text-align:left}
.btxt{font-weight:700}
.bg-gray{background:#f5f5f5}
.btn{display:inline-block;position:relative;margin:2px 4px;padding:0 .5em;min-width:2em;height:28px;text-align:center;line-height:26px;cursor:pointer;white-space:nowrap;font-size:12px;font-weight:700;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-color:#fff;color:#3f464c;border:1px solid rgba(0,0,0,.25);-webkit-box-shadow:inset 0 -13px 13px rgba(0,0,0,.1);-moz-box-shadow:inset 0 -13px 13px rgba(0,0,0,.1);box-shadow:inset 0 -13px 13px rgba(0,0,0,.1)}
.btn:hover{background-color:#f8f8f8;color:#3f464c;text-decoration:none;z-index:100}
.btn-large{height:34px;min-width:8em;line-height:32px;background-color:#06c;color:#f7fafd;font-size:16px;-webkit-box-shadow:inset 0 -16px 16px rgba(0,0,0,.1);-moz-box-shadow:inset 0 -16px 16px rgba(0,0,0,.1);box-shadow:inset 0 -16px 16px rgba(0,0,0,.1)}
.btn-large:hover{background-color:#1271d0;color:#f7fafd}
.box-gray{width:728px;overflow:auto;margin:20px auto;padding:4px 8px;background:#f5f5f5;border:1px solid #ddd}
.tab-head{position:relative;top:1px;height:32px;margin-top:25px;border-bottom:4px solid #3F464C;z-index:1}
.flag-24{display:inline-block;width:24px;height:24px;overflow:hidden;background-image:url(../images/flag-24.png);background-repeat:no-repeat;background-position:-100px 0;vertical-align:middle}
.flag-24-AD{background-position:0 0}
.flag-24-AE{background-position:0 -25px}
.flag-24-AF{background-position:0 -50px}
.flag-24-AG{background-position:0 -75px}
.flag-24-AI{background-position:0 -100px}
.flag-24-AL{background-position:0 -125px}
.flag-24-AM{background-position:0 -150px}
.flag-24-AN{background-position:0 -175px}
.flag-24-AO{background-position:0 -200px}
.flag-24-AQ{background-position:0 -225px}
.flag-24-AR{background-position:0 -250px}
.flag-24-AS{background-position:0 -275px}
.flag-24-AT{background-position:0 -300px}
.flag-24-AU{background-position:0 -325px}
.flag-24-AW{background-position:0 -350px}
.flag-24-AX{background-position:0 -375px}
.flag-24-AZ{background-position:0 -400px}
.flag-24-BA{background-position:0 -425px}
.flag-24-BB{background-position:0 -450px}
.flag-24-BD{background-position:0 -475px}
.flag-24-BE{background-position:0 -500px}
.flag-24-BF{background-position:0 -525px}
.flag-24-BG{background-position:0 -550px}
.flag-24-BH{background-position:0 -575px}
.flag-24-BI{background-position:0 -600px}
.flag-24-BJ{background-position:0 -625px}
.flag-24-BL{background-position:0 -650px}
.flag-24-BM{background-position:0 -675px}
.flag-24-BN{background-position:0 -700px}
.flag-24-BO{background-position:0 -725px}
.flag-24-BR{background-position:0 -750px}
.flag-24-BS{background-position:0 -775px}
.flag-24-BT{background-position:0 -800px}
.flag-24-BW{background-position:0 -825px}
.flag-24-BY{background-position:0 -850px}
.flag-24-BZ{background-position:0 -875px}
.flag-24-CA{background-position:0 -900px}
.flag-24-CC{background-position:0 -925px}
.flag-24-CD{background-position:0 -950px}
.flag-24-CF{background-position:0 -975px}
.flag-24-CG{background-position:0 -1000px}
.flag-24-CH{background-position:0 -1025px}
.flag-24-CI{background-position:0 -1050px}
.flag-24-CK{background-position:0 -1075px}
.flag-24-CL{background-position:0 -1100px}
.flag-24-CM{background-position:0 -1125px}
.flag-24-CN{background-position:0 -1150px}
.flag-24-CO{background-position:0 -1175px}
.flag-24-CR{background-position:0 -1200px}
.flag-24-CU{background-position:0 -1225px}
.flag-24-CV{background-position:0 -1250px}
.flag-24-CX{background-position:0 -1275px}
.flag-24-CY{background-position:0 -1300px}
.flag-24-CZ{background-position:0 -1325px}
.flag-24-DE{background-position:0 -1350px}
.flag-24-DJ{background-position:0 -1375px}
.flag-24-DK{background-position:0 -1400px}
.flag-24-DM{background-position:0 -1425px}
.flag-24-DO{background-position:0 -1450px}
.flag-24-DZ{background-position:0 -1475px}
.flag-24-EC{background-position:0 -1500px}
.flag-24-EE{background-position:0 -1525px}
.flag-24-EG{background-position:0 -1550px}
.flag-24-EH{background-position:0 -1575px}
.flag-24-ER{background-position:0 -1600px}
.flag-24-ES{background-position:0 -1625px}
.flag-24-ET{background-position:0 -1650px}
.flag-24-EU{background-position:0 -1675px}
.flag-24-FI{background-position:0 -1700px}
.flag-24-FJ{background-position:0 -1725px}
.flag-24-FK{background-position:0 -1750px}
.flag-24-FM{background-position:0 -1775px}
.flag-24-FO{background-position:0 -1800px}
.flag-24-FR{background-position:0 -1825px}
.flag-24-GA{background-position:0 -1850px}
.flag-24-GB{background-position:0 -1875px}
.flag-24-GD{background-position:0 -1900px}
.flag-24-GE{background-position:0 -1925px}
.flag-24-GG{background-position:0 -1950px}
.flag-24-GH{background-position:0 -1975px}
.flag-24-GI{background-position:0 -2000px}
.flag-24-GL{background-position:0 -2025px}
.flag-24-GM{background-position:0 -2050px}
.flag-24-GN{background-position:0 -2075px}
.flag-24-GQ{background-position:0 -2100px}
.flag-24-GR{background-position:0 -2125px}
.flag-24-GS{background-position:0 -2150px}
.flag-24-GT{background-position:0 -2175px}
.flag-24-GU{background-position:0 -2200px}
.flag-24-GW{background-position:0 -2225px}
.flag-24-GY{background-position:0 -2250px}
.flag-24-HK{background-position:0 -2275px}
.flag-24-HN{background-position:0 -2300px}
.flag-24-HR{background-position:0 -2325px}
.flag-24-HT{background-position:0 -2350px}
.flag-24-HU{background-position:0 -2375px}
.flag-24-ID,.flag-24-MC{background-position:0 -2400px}
.flag-24-IE{background-position:0 -2425px}
.flag-24-IL{background-position:0 -2450px}
.flag-24-IM{background-position:0 -2475px}
.flag-24-IN{background-position:0 -2500px}
.flag-24-IQ{background-position:0 -2525px}
.flag-24-IR{background-position:0 -2550px}
.flag-24-IS{background-position:0 -2575px}
.flag-24-IT{background-position:0 -2600px}
.flag-24-JE{background-position:0 -2625px}
.flag-24-JM{background-position:0 -2650px}
.flag-24-JO{background-position:0 -2675px}
.flag-24-JP{background-position:0 -2700px}
.flag-24-KE{background-position:0 -2725px}
.flag-24-KG{background-position:0 -2750px}
.flag-24-KH{background-position:0 -2775px}
.flag-24-KI{background-position:0 -2800px}
.flag-24-KM{background-position:0 -2825px}
.flag-24-KN{background-position:0 -2850px}
.flag-24-KP{background-position:0 -2875px}
.flag-24-KR{background-position:0 -2900px}
.flag-24-KV{background-position:0 -2925px}
.flag-24-KW{background-position:0 -2950px}
.flag-24-KY{background-position:0 -2975px}
.flag-24-KZ{background-position:0 -3000px}
.flag-24-LA{background-position:0 -3025px}
.flag-24-LB{background-position:0 -3050px}
.flag-24-LC{background-position:0 -3075px}
.flag-24-LI{background-position:0 -3100px}
.flag-24-LK{background-position:0 -3125px}
.flag-24-LR{background-position:0 -3150px}
.flag-24-LS{background-position:0 -3175px}
.flag-24-LT{background-position:0 -3200px}
.flag-24-LU{background-position:0 -3225px}
.flag-24-LV{background-position:0 -3250px}
.flag-24-LY{background-position:0 -3275px}
.flag-24-MA{background-position:0 -3300px}
.flag-24-MD{background-position:0 -3325px}
.flag-24-ME{background-position:0 -3350px}
.flag-24-MG{background-position:0 -3375px}
.flag-24-MH{background-position:0 -3400px}
.flag-24-MK{background-position:0 -3425px}
.flag-24-ML{background-position:0 -3450px}
.flag-24-MM{background-position:0 -3475px}
.flag-24-MN{background-position:0 -3500px}
.flag-24-MO{background-position:0 -3525px}
.flag-24-MP{background-position:0 -3550px}
.flag-24-MR{background-position:0 -3575px}
.flag-24-MS{background-position:0 -3600px}
.flag-24-MT{background-position:0 -3625px}
.flag-24-MU{background-position:0 -3650px}
.flag-24-MV{background-position:0 -3675px}
.flag-24-MW{background-position:0 -3700px}
.flag-24-MX{background-position:0 -3725px}
.flag-24-MY{background-position:0 -3750px}
.flag-24-MZ{background-position:0 -3775px}
.flag-24-NA{background-position:0 -3800px}
.flag-24-NC{background-position:0 -3825px}
.flag-24-NE{background-position:0 -3850px}
.flag-24-NF{background-position:0 -3875px}
.flag-24-NG{background-position:0 -3900px}
.flag-24-NI{background-position:0 -3925px}
.flag-24-NL{background-position:0 -3950px}
.flag-24-NO{background-position:0 -3975px}
.flag-24-NP{background-position:0 -4000px}
.flag-24-NR{background-position:0 -4025px}
.flag-24-NU{background-position:0 -4050px}
.flag-24-NZ{background-position:0 -4075px}
.flag-24-OM{background-position:0 -4100px}
.flag-24-PA{background-position:0 -4125px}
.flag-24-PE{background-position:0 -4150px}
.flag-24-PG{background-position:0 -4175px}
.flag-24-PH{background-position:0 -4200px}
.flag-24-PK{background-position:0 -4225px}
.flag-24-PL{background-position:0 -4250px}
.flag-24-PN{background-position:0 -4275px}
.flag-24-PR{background-position:0 -4300px}
.flag-24-PS{background-position:0 -4325px}
.flag-24-PT{background-position:0 -4350px}
.flag-24-PW{background-position:0 -4375px}
.flag-24-PY{background-position:0 -4400px}
.flag-24-QA{background-position:0 -4425px}
.flag-24-RO{background-position:0 -4450px}
.flag-24-RS{background-position:0 -4475px}
.flag-24-RU{background-position:0 -4500px}
.flag-24-RW{background-position:0 -4525px}
.flag-24-SA{background-position:0 -4550px}
.flag-24-SB{background-position:0 -4575px}
.flag-24-SC{background-position:0 -4600px}
.flag-24-SD{background-position:0 -4625px}
.flag-24-SE{background-position:0 -4650px}
.flag-24-SG{background-position:0 -4675px}
.flag-24-SH{background-position:0 -4700px}
.flag-24-SI{background-position:0 -4725px}
.flag-24-SK{background-position:0 -4750px}
.flag-24-SL{background-position:0 -4775px}
.flag-24-SM{background-position:0 -4800px}
.flag-24-SN{background-position:0 -4825px}
.flag-24-SO{background-position:0 -4850px}
.flag-24-SR{background-position:0 -4875px}
.flag-24-SS{background-position:0 -4900px}
.flag-24-ST{background-position:0 -4925px}
.flag-24-SV{background-position:0 -4950px}
.flag-24-SY{background-position:0 -4975px}
.flag-24-SZ{background-position:0 -5000px}
.flag-24-TC{background-position:0 -5025px}
.flag-24-TD{background-position:0 -5050px}
.flag-24-TG{background-position:0 -5075px}
.flag-24-TH{background-position:0 -5100px}
.flag-24-TJ{background-position:0 -5125px}
.flag-24-TM{background-position:0 -5150px}
.flag-24-TN{background-position:0 -5175px}
.flag-24-TO{background-position:0 -5200px}
.flag-24-TP{background-position:0 -5225px}
.flag-24-TR{background-position:0 -5250px}
.flag-24-TT{background-position:0 -5275px}
.flag-24-TV{background-position:0 -5300px}
.flag-24-TW{background-position:0 -5325px}
.flag-24-TZ{background-position:0 -5350px}
.flag-24-UA{background-position:0 -5375px}
.flag-24-UG{background-position:0 -5400px}
.flag-24-US{background-position:0 -5425px}
.flag-24-UY{background-position:0 -5450px}
.flag-24-UZ{background-position:0 -5475px}
.flag-24-VA{background-position:0 -5500px}
.flag-24-VC{background-position:0 -5525px}
.flag-24-VE{background-position:0 -5550px}
.flag-24-VG{background-position:0 -5575px}
.flag-24-VI{background-position:0 -5600px}
.flag-24-VN{background-position:0 -5625px}
.flag-24-VU{background-position:0 -5650px}
.flag-24-WS{background-position:0 -5675px}
.flag-24-YE{background-position:0 -5700px}
.flag-24-YT{background-position:0 -5725px}
.flag-24-ZA{background-position:0 -5750px}
.flag-24-ZM{background-position:0 -5775px}
.flag-24-ZW{background-position:0 -5800px}
.flag-24-_abkhazia{background-position:0 -5825px}
.flag-24-_british-antarctic-territory{background-position:0 -5850px}
.flag-24-_commonwealth{background-position:0 -5875px}
.flag-24-_england{background-position:0 -5900px}
.flag-24-_gosquared{background-position:0 -5925px}
.flag-24-_mars{background-position:0 -5950px}
.flag-24-_nagorno-karabakh{background-position:0 -5975px}
.flag-24-_nato{background-position:0 -6000px}
.flag-24-_northern-cyprus{background-position:0 -6025px}
.flag-24-_olympics{background-position:0 -6050px}
.flag-24-_red-cross{background-position:0 -6075px}
.flag-24-_scotland{background-position:0 -6100px}
.flag-24-_somaliland{background-position:0 -6125px}
.flag-24-_south-ossetia{background-position:0 -6150px}
.flag-24-_united-nations{background-position:0 -6175px}
.flag-24-_wales{background-position:0 -6200px}



.clearboth{
  clear:both;
}

.gu-interactive {
  font-family: 'Oswald';
  color: #333;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  max-width:1060px;
  margin:0 auto;
  margin-bottom:25px;
}
.gu-interactive .primaryImageOfPage{
      padding: 0;
      margin: 0 -10px;
    }

/*#content .gu-interactive .primaryImageOfPage{
  display:none;
}*/

#content .interactiveIntroduction .divider{

  visibility: hidden;
}



.gu-interactive .mainImage{
  width:100%;
}

.gu-interactive .divider{
  border-top: 1px dotted #e3e3db;
  margin: 22px auto 22px;
  width: 100px;
}

.gu-interactive h2{
  font-family: 'Oswald' !important;
  font-size: 2.4rem !important;
  text-align: center !important;
  border: none !important;
  font-weight: 600 !important;
  margin-bottom:15px !important;
  padding-top:40px !important;
}

.gu-interactive h3{ 
  font-family: 'Oswald' !important;
  font-size: 1.6rem !important;
  line-height: 2.6rem !important;
  font-weight: normal !important;
  text-align: center !important;
  max-width: 640px;
  margin: 0 auto;
}

.gu-interactive .newDrawBtn{
  -webkit-font-smoothing: antialiased;
  padding: 20px 28px 18px;
  margin: 20px auto 0;
  display: block;
  background: #3A84B1;
  color: #fff;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Oswald';
  cursor: pointer;
  border: 1px solid #246892;
  margin-bottom:30px;
}

.gu-interactive .moreInformation{
  margin-top:30px;
  margin-bottom:20px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.gu-interactive .moreInformation p.invisible{
  display:block;
}

.gu-interactive .moreInformation h4{
  text-align: center;
  font-family: 'Oswald';
  font-size:12px;
  font-weight: bold;
  border:none;
  color:#777;
}
.gu-interactive .moreInformation p{
  line-height: 18px;
  font-family: 'Oswald';
  font-size:12px;
  display: none;
  max-width:640px;
  margin: 0 auto;
}
.gu-interactive .groupStageWrapper{
  border-top:1px solid #ddd;
  margin-top: 0;
}
.gu-interactive .groupStage{
  margin-top: 20px;
  margin-bottom: 20px;
}

.gu-interactive .currentStatus{
  border: 1px dashed #ccc;
  padding-top: 15px;
  background: #FFFEF2;
  margin-top:20px;
  -webkit-transition:opacity 0.5s linear;
  transition:opacity 0.5s linear;
}


.gu-interactive .currentStatus p{
  height: 30px !important;
  font-size: 12px !important;
  font-family: 'Oswald' !important;
  margin: 0 !important;
  font-style:italic !important;
  text-align: center !important;
}

.gu-interactive .currentStatus p strong{
  /*display:block;
  font-style:normal;
  margin-bottom:2px;*/
}


.gu-interactive .group{
  min-width: 130px;
  width: 49%;
  margin: 0 2% 20px 0;
  float: left;
}
.gu-interactive .images{
  height: 0;
  padding-bottom:33%;
  position: relative;
  background:#fcfcfc;
  display:none;
}

.gu-interactive .images img{
  opacity:0;
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}



.gu-interactive .group:nth-of-type(2n){
  margin-right: 0;
}

.gu-interactive h4{
  font-size: 2rem;
  font-weight: normal;
  border-bottom: 2px solid #ececec;
  margin: 0;
  padding: 0 0 1rem 0;
  background-color: transparent;
  border-top: none;
}

.gu-interactive .teamPhoto{
  width:50%;
  height: auto;
  margin: 0;
  float: left;
  display:none;
}
.gu-interactive .teamPhoto2, .gu-interactive .teamPhoto3{
  display: none;
}

.gu-interactive .teams ul{
  list-style: none;
  margin:0;
  padding:0;
}

.gu-interactive .teams ul li{
  font-family: 'Oswald' !important;
  border-top: 1px solid #ececec !important;
  padding: 4px 0 !important;
  opacity:0;
  -webkit-transition: opacity 0.2s linear !important;
  transition: opacity 0.2s linear !important;
  font-weight: normal !important;
  margin-bottom:0 !important;
  overflow: visible !important;
}
.gu-interactive .teams ul li.ranked{
  display:none;
  opacity:0;
}

.gu-interactive .teams ul li:nth-of-type(1){
  
  border-top: none;
}

.gu-interactive .team0 .countryFlag, .gu-interactive .team0 .teamName, .gu-interactive .team0 .teamInfo, .gu-interactive .team0 .championshipwinner{
  float:right;
}
.gu-interactive .team0 .championshipwinner{
  margin-right: 5px;
}

.gu-interactive .countryFlag{
  width: 12px;
  height: 12px;
  margin: 4px 5px 0;
  float: left;
}

.gu-interactive .teamInfo{
  float: left;
  width: 82%;
  margin-top: 3px;
}
.gu-interactive .teamName{
  font-size: 14px;
  float: left;
  line-height: 24px;
}

.gu-interactive .finals .teamName{
  color: #a0a0a0;
}
.gu-interactive .winner{
  width: 6px;
  height: 6px;
  background: green;
  float: right;
  margin-top: 5px;
  border-radius: 3px;
  opacity:0;
}

.gu-interactive .knockout_wrapper .winner{
  visibility: hidden;
}

.gu-interactive .knockout_wrapper .finalswinner .winner{
  visibility: visible;
}

.gu-interactive .knockout_wrapper .team0 .winner{
  float:right;
  margin-right:5px;
}

.gu-interactive .knockout_wrapper .team1 .winner{
  float:left;
  margin-left:5px;
}

.gu-interactive .championshipwinner{
  width: 12px;
  height: 15px;
  background: url(../images/cup.png);
  background-size: 12px, 15px;
  float: left;

  margin-left:5px;
}
.gu-interactive .teamPot{
  font-size: 1rem;
  color: #999;
  margin-top:2px;
}

.gu-interactive .share{
  text-align: center;
  margin: 10px 0 0;
}

.gu-interactive .share p{
  font-size:16px;
  margin-top: 15px;
  font-family: 'Oswald';
}

.gu-interactive .shareButtons{
  display: block;
  margin: 0 auto;
}

.gu-interactive .shareButtons svg:hover g{
  fill:#ddd;
}

.gu-interactive .shareButtons svg.facebookIcon:hover path{
  fill:#ddd;
}

.gu-interactive .shareButtons svg.facebookIcon:hover path.fbIconStroke{
  fill:transparent;
  stroke:#ddd;
}


.gu-interactive .shareButtons p{
  padding-bottom:10px;
  color:#fff;
  font-family: 'Oswald';
font-weight:bold;
  font-size:14px;
  width:90%;
  margin: 0 auto;
}

.gu-interactive .showWinners{
 margin-bottom:10px;
  margin-top:0;
}

.gu-interactive .disclaimerWinners{
  margin: 0 auto 40px;
  text-align: center;
  font-size:12px;
  font-family:'Oswald';
}

.gu-interactive .knockout_wrapper{
  margin-top: 30px;
  display:none;
}

.gu-interactive .finalsTitle{
  font-family: 'Oswald' !important;
  font-size: 2.6rem !important;
  margin-bottom: 0 !important;
  font-weight:500 !important;
  margin-top:26px !important;
}

.gu-interactive .final{
  margin-bottom: 40px;
}

.gu-interactive .title{

  border-bottom: 2px solid #ccc;
  padding: 10px 0 0;
  margin: 20px 0 0;
}

.gu-interactive .title h4{
  text-align: center;
  border: none;
  font-size: 20px;
}

.gu-interactive .quarterfinals{
  margin-top:20px;
}
.gu-interactive .matches{
  background:transparent;
  }

.gu-interactive .match{
  float: left;
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-top:none !important;
}

.gu-interactive .final .match .team {
  padding: 4px 0 6px;
}

.gu-interactive .match .team{
  width: 47%;
  float: left;
  font-family: 'Oswald';
  padding: 4px 0;
}

.gu-interactive .team0{
  text-align: right;
}

.gu-interactive .finalswinner .teamName{
  color: #333;
  font-family: 'Oswald';
  font-weight:bold;
  line-height:normal;
}

.gu-interactive .teamSeparator0{
  width:2%;
  height:1px;
  margin: 19px 2% 0;
  background: #333;
  float: left;
}

.gu-interactive .imageOverlay{
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  display:block;
  margin: 0 auto;
  position: absolute;
  top:0;
}

.gu-interactive .champions{
  position: relative;
  padding-bottom:67%;
  height:0;
  margin-top:16px;
}

.gu-interactive .champions img{
  width: auto;
  height: auto;
  margin: 0;
  top: 0;
  width: 100%;
  display:inline-block;
}

.gu-interactive .champions .shareButtons{
  width:auto;
  height:100px;
  top:0;
  left:0;
  position:absolute;
  right:0;
  bottom:0;
  margin: auto;

}



.gu-interactive #topBar{
  height:36px;
  left:10px;
  right:10px;
  max-width:540px;
  background: rgba(255,255,255,0.8);
  position: fixed;
  top:0;
  z-index:5;
  visibility: hidden;
}





.gu-interactive .reDrawBtn{
  -webkit-font-smoothing: antialiased;
  background: #3A84B1;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 8px 8px 7px;
  margin-top:4px;
  font-size: 12px;
  font-family: 'Oswald';
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #246892;

}

.gu-interactive .reDrawBtn img{
  margin-right: 5px;
  position:relative;
  height: 10px;
  width: 10px;
  display:inline-block;
}

.gu-interactive #topBar .reDrawBtn{
  left:0;
  right:0;
  margin:3px auto;
  position:absolute;
  width:80px;
}

.gu-interactive .share .reDrawBtn{
  -webkit-font-smoothing: antialiased;
  padding: 8px 8px 7px;
}

.gu-interactive .share .reDrawBtn img{
  margin-right: 2px;
}
@media (min-width: 30em) {
  .gu-interactive #topBar{
   
    left:20px;
    right:20px;
    
  }
}

@media (min-width: 480px) {
.gu-interactive .primaryImageOfPage{
      padding: 0;
      margin: 0 0;
    }
}

@media (min-width: 41.25em) {
  .gu-interactive .primaryImageOfPage{
    margin: 0;
  }
  .gu-interactive h2{font-size: 3rem !important;}
  .gu-interactive h3{font-size:1.8rem !important;}
  
  .gu-interactive .group{
  width: 32%;
  margin: 0 2% 20px 0;
  }

  .gu-interactive .group:nth-of-type(2n + 1),.gu-interactive .group:nth-of-type(2n){
  margin:0 2% 20px 0;
  }

  .gu-interactive .group:nth-of-type(3n){
  margin-right: 0;
  }

.gu-interactive .share{
  text-align: center;
  margin: -5px 0 0;
  min-height:294px;
}

  .gu-interactive .share .champions img{
  width: 300px;
  height: auto;
  top:0;
}
.gu-interactive .imageOverlay{
  width:300px;
  height:200px;
  margin: 0 auto;
  left:0;
  right:0;
}
.gu-interactive .shareButtons{
    display: inline;
    margin: 0;
}

.gu-interactive #topBar{
  display: none;
}

.gu-interactive .clearboth{
    clear:both;
}

.gu-interactive .champions{
  height: auto;
  width: auto;
  padding-bottom:0;
}

.gu-interactive .images{
  display:block;
}

.gu-interactive .teamPhoto{
  display:block;
}

.gu-interactive .teamPhoto2, .gu-interactive .teamPhoto3{
  display: none;
}

}
  

@media (min-width: 61.25em) {
    .g-content { width: 60%; max-width: 620px; margin:0; float: left; }

}

@media (min-width: 960px) {
    .gu-interactive .group:nth-of-type(3n){
    float: right;
      }

      .gu-interactive .group{
        width:23.5%;
        margin-right:2%;
      }


  .gu-interactive .group:nth-of-type(2n + 1),.group:nth-of-type(2n){
  margin-right: 2%;
  margin-left: 0;
  }

  .gu-interactive .group:nth-of-type(3n + 1){
  margin-left: 0;
  }

.gu-interactive .group:nth-of-type(3n){
margin-right: 2%;
float:left;
}
.gu-interactive .group:nth-of-type(4n){
margin-right: 0;
}

    .g-body { width: 1260px; margin: 0 auto; }
    .g-content { width: 620px; }
    .g-col1 { display: block; float: left; width: 220px; padding: 100px 0 0 10px; }
    .g-col2 { display: block; float: right; width: 300px; padding: 100px 10px 0 0; }
}

