@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/font.woff) format('woff');
}
.jerseypic
{
  width:100px;
  height:110px;
  margin-left:400px;
}
#t4{
	position:relative;
	width:708px;
	height:580px;
	margin:0 auto;
}
#t4 div.ks{
	position:absolute;
	width:100px;
	height:64px;
	color:#fff;
	z-index:20;
	border-radius:6px;
	box-shadow:0px 1px 5px rgba(0,0,0,.3);
}


#t4 div.ks-r16{background:#666;width:170px;}
#t4 div.ks-qf {background:#444;}
#t4 div.ks-sf {background:#222;}


#t4 div.rtxt input{float:right;}
#t4 div.ltxt input{float:left;}
#t4 div.ks div.team{
	width:100%;
	height:31px;
	overflow:hidden;
	padding:1px;
	line-height:31px;
}
#t4 div.ks div.team span.f{
	font-family:Arial;
	font-weight:bold;
	font-size:14px;
}
#t4 div.ks div.team span.n{
	font-family:Oswald;
	font-weight:normal;
	font-size:13px;
}



#t4 div.ks div.team div.flag-24{
	margin:4px 2px;
}
#t4 div.rtxt div.flag-24{float:right;}
#t4 div.ltxt div.flag-24{float:left;}



#t4 div.ks input{
	width: 29px;
	height:29px;
	margin:1px;
	border:none;
	font-size:18px;
	font-weight:bold;
	font-family:Arial;
	text-align:center;
	border-radius:4px;
}

#t4 div.ks div.dt{
	position:absolute;
	color:#eee;
	font-size:11px;
	text-align:center;
	line-height:18px;
}
#t4 div.ks.rtxt  div.dt{left: 4px;top:14px}
#t4 div.ks.ltxt  div.dt{right:4px;top:14px}
#t4 div.ks-3RD   div.dt{left:0;bottom:2px;width:100%;}
#t4 div.ks-FINAL div.dt{left:0;bottom:4px;width:100%;}

#t4 div.ks-1A2B{top:120px;left: 0px;}
#t4 div.ks-1C2D{top:210px;left: 0px;}
#t4 div.ks-1E2F{top:300px;left: 0px;}
#t4 div.ks-1G2H{top:390px;left: 0px;}
#t4 div.ks-1B2A{top:120px;right:0px;}
#t4 div.ks-1D2C{top:210px;right:0px;}
#t4 div.ks-1F2E{top:300px;right:0px;}
#t4 div.ks-1H2G{top:390px;right:0px;}

#t4 div.ks-1A2B1C2D{top:165px;left: 190px;}
#t4 div.ks-1E2F1G2H{top:345px;left: 190px;}
#t4 div.ks-1B2A1D2C{top:165px;right:190px;}
#t4 div.ks-1F2E1H2G{top:345px;right:190px;}

#t4 div.ks-1A2B1C2D1E2F1G2H{top:255px;left: 230px;}
#t4 div.ks-1B2A1D2C1F2E1H2G{top:255px;right:230px;}

#t4 div.ks-FINAL span.n{font-size:15px !important;}

#t4 div.ks-3RD h2,
#t4 div.ks-FINAL h2{
	margin:0;
	padding:0;
	text-align:center;
	color:#eee;
}
#t4 div.ks-3RD div.team,
#t4 div.ks-FINAL div.team{
	float:left;
	width:50%;
}
#t4 div.ks-3RD{  height:76px;top:490px;left:25%;width:50%;background:#444;}
#t4 div.ks-FINAL{height:84px;top:  0px;left:25%;width:50%;background:#000;}
#t4 div.ks-3RD   h2{font-size:12px;line-height:24px;}
#t4 div.ks-FINAL h2{font-size:16px;line-height:28px;}

#t4 div.ks-l{
	position:absolute;
	border-width:6px;
	border-style:solid;
	border-color:#555;
	z-index:10;
}
#t4 div.ks-l-1A2B1C2D{width:60px;height:96px;top:149px;left: 150px;border-radius:20px;border-color:#555 #555 #555 transparent;}
#t4 div.ks-l-1E2F1G2H{width:60px;height:96px;top:329px;left: 150px;border-radius:20px;border-color:#555 #555 #555 transparent;}
#t4 div.ks-l-1B2A1D2C{width:60px;height:96px;top:149px;right:150px;border-radius:20px;border-color:#555 transparent #555 #555;}
#t4 div.ks-l-1F2E1H2G{width:60px;height:96px;top:329px;right:150px;border-radius:20px;border-color:#555 transparent #555 #555;}

#t4 div.ks-l-1A2B1C2D1E2F1G2H{width:52px;height:186px;top:194px;left: 262px;border-radius:20px;border-color:#333 #333 #333 transparent;}
#t4 div.ks-l-1B2A1D2C1F2E1H2G{width:52px;height:186px;top:194px;right:262px;border-radius:20px;border-color:#333 transparent #333 #333;}

#t4 div.ks-l-3RDFINAL{border-width:6px 0 0 0;width:48px;height:0;top:284px;left:330px;border-color:#000}

#t4 div.ks-l-3RD{  border-width:0 6px 0 0;width:0px;height:220px;top:290px;left:351px;border-color:#444}
#t4 div.ks-l-FINAL{border-width:0 6px 0 0;width:0px;height:200px;top: 84px;left:351px;border-color:#000}

<!--
*{-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}body{margin:0 auto;background:#fff;color:#3F464C;font-size:94%;font-family:Arial, '?????? Pro W3', 'Hiragino Kaku Gothic Pro', '????', Meiryo, Osaka, 'MS P????', 'MS PGothic', sans-serif;-webkit-text-size-adjust:100%;text-size-adjust:100%}a,img,th,t,div,span{-webkit-transition:0.1s ease-out;-moz-transition:0.1s ease-out;-o-transition:0.1s ease-out;transition:0.1s ease-out;-webkit-transition-property:background-color,color,border-color,opacity;-moz-transition-property:background-color,color,border-color,opacity;-o-transition-property:background-color,color,border-color,opacity;transition-property:background-color,color,border-color,opacity}a{color:#06c;text-decoration:none}a:hover{color:#c06;text-decoration:underline}img{border:none}#logo{display:block;width:25%;height:58px;background-position:50% 55%;background-repeat:no-repeat;text-indent:-9999px;opacity:.9}h2,h3,h4,h5,h6{margin:0;padding:0;font-size:100%}h2{font-size:150%}h3{font-size:130%}h3{font-size:110%}table{margin:0;border-collapse:collapse;font-size:12px}caption{display:none}th{font-weight:400;text-align:left}pre{font-family:'MS ????';line-height:1.2}ul{margin:0 0 16px 0;padding:0;list-style-type:none}ul.dot-square{padding:0 0 0 25px;list-style-type:square}dl,dt,dd{margin:0;padding:0;font-size:small}dt{float:left;clear:left;margin-right:.5em}dt:after{content:':'}p{margin:0 auto 1.7em;padding:0;line-height:1.7}p a{text-decoration:underline}input,select{vertical-align:middle}select{height:28px}input[type="text"],input[type="email"],textarea{background:#fff;color:#333;border:1px solid #999}.rtxt{text-align:right}.ctxt{text-align:center}.ltxt{text-align:left}.btxt{font-weight:700}.bg-gray{background:#f5f5f5}.btn{display:inline-block;position:relative;height:32px;margin:2px 4px;padding:0 1em;text-align:center;cursor:pointer;white-space:nowrap;font-size:13px;font-weight:700;line-height:30px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-color:#fff;color:#3f464c;border:1px solid rgba(0,0,0,.25);-moz-box-shadow:inset 0 -30px 15px -15px rgba(0,0,0,.1);-webkit-box-shadow:inset 0 -30px 15px -15px rgba(0,0,0,.1);box-shadow:inset 0 -30px 15px -15px rgba(0,0,0,.1)}.btn:hover{background-color:#f8f8f8;color:#3f464c;text-decoration:none;z-index:100}.btn.dis{color:#aaa;cursor:default}.btn.dis:hover{color:#aaa}.btn-xsmall{height:20px;padding:0 .5em;font-size:11px;line-height:18px;-webkit-box-shadow:inset 0 -9px 9px rgba(0,0,0,.1);-moz-box-shadow:inset 0 -9px 9px rgba(0,0,0,.1);box-shadow:inset 0 -9px 9px rgba(0,0,0,.1)}.btn-small{height:24px;padding:0 .5em;font-size:12px;line-height:22px;-webkit-box-shadow:inset 0 -11px 11px rgba(0,0,0,.1);-moz-box-shadow:inset 0 -11px 11px rgba(0,0,0,.1);box-shadow:inset 0 -11px 11px rgba(0,0,0,.1)}.btn-large{height:42px;padding:0 2em;background-color:#06c;color:#f7fafd;font-size:16px;line-height:40px;-webkit-box-shadow:inset 0 -20px 20px rgba(0,0,0,.1);-moz-box-shadow:inset 0 -20px 20px rgba(0,0,0,.1);box-shadow:inset 0 -20px 20px rgba(0,0,0,.1)}.btn-large:hover{background-color:#1271d0;color:#f7fafd}.btn.slct{background-color:#3F464C !important;color:#fff !important;cursor:default}.btn.slct:hover{border-color:#3F464C;color:#fff}.btn-group{height:32px;margin:2px 0;padding:0 2px}.btn-group .btn{float:left;margin:0 0 0 -1px;padding:0 .6em;font-size:12px;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;text-shadow:none}.btn-group .btn:hover{background-color:#3F464C !important;color:#fff !important}.btn-group .btn:first-child{-moz-border-top-left-radius:5px;-webkit-border-top-left-radius:5px;border-top-left-radius:5px;-moz-border-bottom-left-radius:5px;-webkit-border-bottom-left-radius:5px;border-bottom-left-radius:5px}.btn-group .btn:last-child{-moz-border-top-right-radius:5px;-webkit-border-top-right-radius:5px;border-top-right-radius:5px;-moz-border-bottom-right-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-right-radius:5px}.error{width:100%;margin:1em 0;padding:1em;border:1px solid #c00;background:#fee;color:#c00}.notice{width:100%;margin:1em 0;padding:1em;border:1px solid #00c;background:#eef;color:#00c}.msg{margin:0 auto 14px;padding:.5em 1em;color:#333;font-size:12px;line-height:1.4}.msg-information{background:#DAF0FA}.msg-success{background:#E6F4CF}.msg-warning{background:#FDF1C1}.msg-error{background:#FEDCDC}.msg a{font-weight:700}.box{width:100%;margin:0 auto 14px}.box-gray{width:100%;overflow:auto;margin-bottom:25px;padding:4px 8px;background:#f5f5f5;border:1px solid #ddd}.tab-head{position:relative;top:1px;height:34px;margin-top:25px;border-bottom:4px solid #3F464C;z-index:1}.tab-btn{position:relative;display:block;float:left;height:0;margin-right:-6px;padding:0 8px;color:#fff;border-bottom:30px solid #3F464C;border-right:15px solid transparent;font-weight:700;line-height:32px;cursor:pointer;text-decoration:none;filter:alpha(opacity=40);opacity:.4;z-index:1}.tab-btn:hover{color:#fff;text-decoration:none;filter:alpha(opacity=100);opacity:1;z-index:10}.tab-head .slct,.tab-head .slct:hover{color:#fff;text-decoration:none;filter:alpha(opacity=100);opacity:1;cursor:default;z-index:10}.tab-body{width:100%;overflow:auto;margin-bottom:25px;padding:8px 16px;background:#f5f5f5;border:1px solid #ddd;z-index:0}table.tbl1{border:none}table.tbl1 th,table.tbl1 td{background:transparent;border-width:1px 0;border-style:solid;border-color:#c3c8cc}table.tbl1 thead{border-bottom:2px solid #3F464C}table.tbl1 tfoot{border-top:2px solid #3F464C}table.tbl1 thead th,table.tbl1 thead td,table.tbl1 tfoot th,table.tbl1 tfoot td{height:30px;font-weight:700;border:none}div.fb-like-box{width:100%;height:240px;overflow:hidden;background:#f5f5f5;border:1px solid #ddd}div.fb-comments{margin:40px auto}#bottom-r div.fb-comments{margin-top:0}div.twitter-widget{padding-left:10px;border:1px solid #ddd}div.gplusw{height:106px;overflow:hidden;border:1px solid #ddd}div.gplusw iframe{position:relative !important;top:-1px !important;left:-1px !important}@-moz-keyframes "spin"{0%{-moz-transform:rotate(0deg);}100%{-moz-transform:rotate(360deg);}}@-webkit-keyframes "spin"{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}@keyframes "spin"{0%{transform:rotate(0deg);}100%{transform:rotate(360deg);}}.loading{position:relative;display:inline-block;width:2em;height:2em;margin:1em}.loading:before,.loading:after{-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;position:absolute;top:0;left:0;display:block;content:'';width:100%;height:100%;border-width:.1em;border-style:solid;border-radius:50%;vertical-align:middle;-moz-animation:spin 3s linear 0 infinite normal;-webkit-animation:spin 3s linear 0 infinite normal;animation:spin 3s linear 0 infinite normal}.loading:before{border-color:rgba(0,0,0,.5) transparent}.loading:after{border-color:transparent rgba(0,0,0,.2);-moz-animation-duration:1s;-webkit-animation-duration:1s;animation-duration:1s}.w1000{width:1042px;margin:0 auto}#header{min-width:1042px;margin:0 0 25px;background:#036;background:-moz-linear-gradient(-45deg, #012 10%, #DFE 90%);background:-webkit-gradient(linear, left top, right bottom, color-stop(10%,#012), color-stop(90%,#DFE));background:-webkit-linear-gradient(-45deg, #012 10%,#DFE 90%);background:-o-linear-gradient(-45deg, #012 10%,#DFE 90%);background:-ms-linear-gradient(-45deg, #012 10%,#DFE 90%);background:linear-gradient(135deg, #012 10%,#DFE 90%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#012', endColorstr='#DFE',GradientType=1 )}body.worldcup #header{background:#009B3A;background:-moz-linear-gradient(-45deg, #009B3A 20%, #FEDF00 80%);background:-webkit-gradient(linear, left top, right bottom, color-stop(20%,#009B3A), color-stop(80%,#FEDF00));background:-webkit-linear-gradient(-45deg, #009B3A 20%,#FEDF00 80%);background:-o-linear-gradient(-45deg, #009B3A 20%,#FEDF00 80%);background:-ms-linear-gradient(-45deg, #009B3A 20%,#FEDF00 80%);background:linear-gradient(135deg, #009B3A 20%,#FEDF00 80%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#009B3A', endColorstr='#FEDF00',GradientType=1 )}body.jleague #header{background:#000;background:-moz-linear-gradient(-45deg, #000 20%, #E60012 80%);background:-webkit-gradient(linear, left top, right bottom, color-stop(20%,#000), color-stop(80%,#E60012));background:-webkit-linear-gradient(-45deg, #000 20%,#E60012 80%);background:-o-linear-gradient(-45deg, #000 20%,#E60012 80%);background:-ms-linear-gradient(-45deg, #000 20%,#E60012 80%);background:linear-gradient(135deg, #000 20%,#E60012 80%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#E60012',GradientType=1 )}#cseW{float:right;width:25%;margin-top:35px;padding:0 10px 0 25px}.cse form.gsc-search-box,form.gsc-search-box{padding:8px 14px 0 0 !important}table.gsc-search-box td{padding:0 !important}table.gsc-search-box td input{height:24px !important;line-height:24px !important;padding:0 4px !important;margin:0 !important;background-image:none !important;background-color:#eee !important;border:none !important;font-size:12px !important}td.gsc-clear-button{display:none}table.gsc-search-box td input.gsc-search-button{border-radius:0 !important;-moz-border-radius:0 !important;-webkit-border-radius:0 !important;font-size:12px !important;font-weight:400 !important;min-width:30px !important;padding:0 4px !important;cursor:pointer;background-color:#666 !important}.cse input.gsc-input,input.gsc-input{width:100% !important}#nav{height:36px;background:#44484C;background:rgba(0,16,32,.75);color:#ddd;color:rgba(255,255,255,.8)}#nav li{position:relative;float:left;padding:0;font-size:12px;line-height:36px}#nav a{padding:0 10px;color:#ddd;color:rgba(255,255,255,.8)}#nav a:hover{color:#fff}#nav span.slct{padding:0 10px;color:#fff}#nav span.slct:after{position:absolute;bottom:-1px;left:50%;margin-left:-8px;content:'';display:block;border-top:none;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #fff;z-index:100}#nav li.pdm span,#nav li.pdm a{display:block;padding:0 20px 0 10px}#nav li.pdm span{line-height:36px}#nav > ul > li.pdm > span:after{display:inline-block;position:absolute;top:16px;right:8px;content:'';border-top:4px solid #aaa;border-right:4px solid transparent;border-left:4px solid transparent;border-bottom:none}#nav > ul > li.pdm:hover > span:after{border-top:4px solid #fff}#nav li.pdm li.pdm > span:after{display:block;position:absolute;top:14px;right:8px;content:'';border-left:4px solid #aaa;border-top:4px solid transparent;border-bottom:4px solid transparent;border-right:none}#nav li.pdm li.pdm:hover > span:after{border-left:4px solid #fff}#nav li.pdm ul{position:relative;display:none;box-shadow:0 1px 5px rgba(0,0,0,.8);min-width:100%}#nav li.pdm:hover > ul{display:inline-block;position:absolute;top:32px;left:0;padding:4px 0;background:#444;background:rgba(0,16,32,.9);color:#ddd;white-space:nowrap;z-index:100}#nav li.pdm:hover > ul li{display:block;float:none !important;line-height:24px}#nav li.pdm:hover > span{background:#000;color:#fff;cursor:default}#nav li.pdm li:hover ul{top:-4px;left:98%}#tb{width:100%;padding:15px 0 10px;background:#fff;background:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,.95) 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,.95)));background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,.95) 100%);background:-o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,.95) 100%);background:-ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,.95) 100%);background:linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,.95) 100%)}#tb div.w1000{padding:0 15px}#tb h1{margin:0;padding:0;font-size:40px;font-weight:700;line-height:1.4;letter-spacing:-0.06em;white-space:nowrap}#tb h1.l{font-size:35px}#tb h1.m{font-size:30px}#tb h1.s{font-size:25px}#tb p{float:left;margin:0 0 10px;color:#596571;font-size:12px;line-height:1.5}#sb{display:table;width:360px;height:24px;overflow:hidden;margin:0;padding:0}#sb li{display:table-cell}#sb li.f{padding-right:15px}#update{float:right;margin:0;font-family:Georgia;font-size:15px}#container{margin:5px auto;line-height:1.5}#sub-l,#main,#sub-r{overflow:hidden}#container:after,#sub-l:after,#main:after,#sub-r:after{content:'';display:block;clear:both}#sub-l{float:left;margin-right:14px}#sub-r{float:right;margin-left:14px;clear:both}#footer{clear:both;width:100%;height:64px;margin-top:50px;font-size:12px;line-height:64px;text-align:center;background:#444;background:rgba(0,0,0,.7)}#footer a.ultrazone{display:inline-block;width:140px;height:64px;background-position:50% 50%;background-repeat:no-repeat;background-size:contain;text-indent:-9999px}#copy{display:table;margin:0 auto}#copy li{display:table-cell;padding:0 1em}#copy a{color:#fff;opacity:.7}#copy a:hover{opacity:1;text-decoration:underline}div.adv-970{margin:14px auto;text-align:center;clear:both}body.col2c #main{width:692px}body.col2c #sub-r{width:336px}body.col2d #main{width:728px}body.col2d #sub-r{width:300px}body.col1a #main{width:100%}body.col1a .fb-comments{margin-top:0}#bottom-l{float:left;width:336px;margin:25px auto}#bottom-r{float:right;width:620px;margin:25px auto}#bottom-l div.fb-like-box{width:100%;overflow:hidden}body.w100p #container{width:100%;padding:0 8px}body.w100p #main{width:100%;overflow-x:scroll;float:none;margin-bottom:16px}body.w100p #relatepage{width:300px;border:1px solid #ddd;padding:8px;float:left}body.w100p .fb-comments{margin-top:0}#relatepage,#exlink{margin-bottom:25px}#relatepage h2,#exlink h2{margin-bottom:.5em;font-size:14px;line-height:2;border-bottom:1px solid #ddd}#relatepage a,#exlink a{display:block;margin-bottom:.7em;font-size:12px;line-height:1.2}
.flag-24{display:inline-block;width:24px;height:24px;overflow:hidden;background-image:url(../images/flag-24.png);background-repeat:no-repeat;background-position:-100px 0;vertical-align:middle}.flag-24-AD{background-position:0 0}.flag-24-AE{background-position:0 -25px}.flag-24-AF{background-position:0 -50px}.flag-24-AG{background-position:0 -75px}.flag-24-AI{background-position:0 -100px}.flag-24-AL{background-position:0 -125px}.flag-24-AM{background-position:0 -150px}.flag-24-AN{background-position:0 -175px}.flag-24-AO{background-position:0 -200px}.flag-24-AQ{background-position:0 -225px}.flag-24-AR{background-position:0 -250px}.flag-24-AS{background-position:0 -275px}.flag-24-AT{background-position:0 -300px}.flag-24-AU{background-position:0 -325px}.flag-24-AW{background-position:0 -350px}.flag-24-AX{background-position:0 -375px}.flag-24-AZ{background-position:0 -400px}.flag-24-BA{background-position:0 -425px}.flag-24-BB{background-position:0 -450px}.flag-24-BD{background-position:0 -475px}.flag-24-BE{background-position:0 -500px}.flag-24-BF{background-position:0 -525px}.flag-24-BG{background-position:0 -550px}.flag-24-BH{background-position:0 -575px}.flag-24-BI{background-position:0 -600px}.flag-24-BJ{background-position:0 -625px}.flag-24-BL{background-position:0 -650px}.flag-24-BM{background-position:0 -675px}.flag-24-BN{background-position:0 -700px}.flag-24-BO{background-position:0 -725px}.flag-24-BR{background-position:0 -750px}.flag-24-BS{background-position:0 -775px}.flag-24-BT{background-position:0 -800px}.flag-24-BW{background-position:0 -825px}.flag-24-BY{background-position:0 -850px}.flag-24-BZ{background-position:0 -875px}.flag-24-CA{background-position:0 -900px}.flag-24-CC{background-position:0 -925px}.flag-24-CD{background-position:0 -950px}.flag-24-CF{background-position:0 -975px}.flag-24-CG{background-position:0 -1000px}.flag-24-CH{background-position:0 -1025px}.flag-24-CI{background-position:0 -1050px}.flag-24-CK{background-position:0 -1075px}.flag-24-CL{background-position:0 -1100px}.flag-24-CM{background-position:0 -1125px}.flag-24-CN{background-position:0 -1150px}.flag-24-CO{background-position:0 -1175px}.flag-24-CR{background-position:0 -1200px}.flag-24-CU{background-position:0 -1225px}.flag-24-CV{background-position:0 -1250px}.flag-24-CX{background-position:0 -1275px}.flag-24-CY{background-position:0 -1300px}.flag-24-CZ{background-position:0 -1325px}.flag-24-DE{background-position:0 -1350px}.flag-24-DJ{background-position:0 -1375px}.flag-24-DK{background-position:0 -1400px}.flag-24-DM{background-position:0 -1425px}.flag-24-DO{background-position:0 -1450px}.flag-24-DZ{background-position:0 -1475px}.flag-24-EC{background-position:0 -1500px}.flag-24-EE{background-position:0 -1525px}.flag-24-EG{background-position:0 -1550px}.flag-24-EH{background-position:0 -1575px}.flag-24-ER{background-position:0 -1600px}.flag-24-ES{background-position:0 -1625px}.flag-24-ET{background-position:0 -1650px}.flag-24-EU{background-position:0 -1675px}.flag-24-FI{background-position:0 -1700px}.flag-24-FJ{background-position:0 -1725px}.flag-24-FK{background-position:0 -1750px}.flag-24-FM{background-position:0 -1775px}.flag-24-FO{background-position:0 -1800px}.flag-24-FR{background-position:0 -1825px}.flag-24-GA{background-position:0 -1850px}.flag-24-GB{background-position:0 -1875px}.flag-24-GD{background-position:0 -1900px}.flag-24-GE{background-position:0 -1925px}.flag-24-GG{background-position:0 -1950px}.flag-24-GH{background-position:0 -1975px}.flag-24-GI{background-position:0 -2000px}.flag-24-GL{background-position:0 -2025px}.flag-24-GM{background-position:0 -2050px}.flag-24-GN{background-position:0 -2075px}.flag-24-GQ{background-position:0 -2100px}.flag-24-GR{background-position:0 -2125px}.flag-24-GS{background-position:0 -2150px}.flag-24-GT{background-position:0 -2175px}.flag-24-GU{background-position:0 -2200px}.flag-24-GW{background-position:0 -2225px}.flag-24-GY{background-position:0 -2250px}.flag-24-HK{background-position:0 -2275px}.flag-24-HN{background-position:0 -2300px}.flag-24-HR{background-position:0 -2325px}.flag-24-HT{background-position:0 -2350px}.flag-24-HU{background-position:0 -2375px}.flag-24-ID,.flag-24-MC{background-position:0 -2400px}.flag-24-IE{background-position:0 -2425px}.flag-24-IL{background-position:0 -2450px}.flag-24-IM{background-position:0 -2475px}.flag-24-IN{background-position:0 -2500px}.flag-24-IQ{background-position:0 -2525px}.flag-24-IR{background-position:0 -2550px}.flag-24-IS{background-position:0 -2575px}.flag-24-IT{background-position:0 -2600px}.flag-24-JE{background-position:0 -2625px}.flag-24-JM{background-position:0 -2650px}.flag-24-JO{background-position:0 -2675px}.flag-24-JP{background-position:0 -2700px}.flag-24-KE{background-position:0 -2725px}.flag-24-KG{background-position:0 -2750px}.flag-24-KH{background-position:0 -2775px}.flag-24-KI{background-position:0 -2800px}.flag-24-KM{background-position:0 -2825px}.flag-24-KN{background-position:0 -2850px}.flag-24-KP{background-position:0 -2875px}.flag-24-KR{background-position:0 -2900px}.flag-24-KV{background-position:0 -2925px}.flag-24-KW{background-position:0 -2950px}.flag-24-KY{background-position:0 -2975px}.flag-24-KZ{background-position:0 -3000px}.flag-24-LA{background-position:0 -3025px}.flag-24-LB{background-position:0 -3050px}.flag-24-LC{background-position:0 -3075px}.flag-24-LI{background-position:0 -3100px}.flag-24-LK{background-position:0 -3125px}.flag-24-LR{background-position:0 -3150px}.flag-24-LS{background-position:0 -3175px}.flag-24-LT{background-position:0 -3200px}.flag-24-LU{background-position:0 -3225px}.flag-24-LV{background-position:0 -3250px}.flag-24-LY{background-position:0 -3275px}.flag-24-MA{background-position:0 -3300px}.flag-24-MD{background-position:0 -3325px}.flag-24-ME{background-position:0 -3350px}.flag-24-MG{background-position:0 -3375px}.flag-24-MH{background-position:0 -3400px}.flag-24-MK{background-position:0 -3425px}.flag-24-ML{background-position:0 -3450px}.flag-24-MM{background-position:0 -3475px}.flag-24-MN{background-position:0 -3500px}.flag-24-MO{background-position:0 -3525px}.flag-24-MP{background-position:0 -3550px}.flag-24-MR{background-position:0 -3575px}.flag-24-MS{background-position:0 -3600px}.flag-24-MT{background-position:0 -3625px}.flag-24-MU{background-position:0 -3650px}.flag-24-MV{background-position:0 -3675px}.flag-24-MW{background-position:0 -3700px}.flag-24-MX{background-position:0 -3725px}.flag-24-MY{background-position:0 -3750px}.flag-24-MZ{background-position:0 -3775px}.flag-24-NA{background-position:0 -3800px}.flag-24-NC{background-position:0 -3825px}.flag-24-NE{background-position:0 -3850px}.flag-24-NF{background-position:0 -3875px}.flag-24-NG{background-position:0 -3900px}.flag-24-NI{background-position:0 -3925px}.flag-24-NL{background-position:0 -3950px}.flag-24-NO{background-position:0 -3975px}.flag-24-NP{background-position:0 -4000px}.flag-24-NR{background-position:0 -4025px}.flag-24-NU{background-position:0 -4050px}.flag-24-NZ{background-position:0 -4075px}.flag-24-OM{background-position:0 -4100px}.flag-24-PA{background-position:0 -4125px}.flag-24-PE{background-position:0 -4150px}.flag-24-PG{background-position:0 -4175px}.flag-24-PH{background-position:0 -4200px}.flag-24-PK{background-position:0 -4225px}.flag-24-PL{background-position:0 -4250px}.flag-24-PN{background-position:0 -4275px}.flag-24-PR{background-position:0 -4300px}.flag-24-PS{background-position:0 -4325px}.flag-24-PT{background-position:0 -4350px}.flag-24-PW{background-position:0 -4375px}.flag-24-PY{background-position:0 -4400px}.flag-24-QA{background-position:0 -4425px}.flag-24-RO{background-position:0 -4450px}.flag-24-RS{background-position:0 -4475px}.flag-24-RU{background-position:0 -4500px}.flag-24-RW{background-position:0 -4525px}.flag-24-SA{background-position:0 -4550px}.flag-24-SB{background-position:0 -4575px}.flag-24-SC{background-position:0 -4600px}.flag-24-SD{background-position:0 -4625px}.flag-24-SE{background-position:0 -4650px}.flag-24-SG{background-position:0 -4675px}.flag-24-SH{background-position:0 -4700px}.flag-24-SI{background-position:0 -4725px}.flag-24-SK{background-position:0 -4750px}.flag-24-SL{background-position:0 -4775px}.flag-24-SM{background-position:0 -4800px}.flag-24-SN{background-position:0 -4825px}.flag-24-SO{background-position:0 -4850px}.flag-24-SR{background-position:0 -4875px}.flag-24-SS{background-position:0 -4900px}.flag-24-ST{background-position:0 -4925px}.flag-24-SV{background-position:0 -4950px}.flag-24-SY{background-position:0 -4975px}.flag-24-SZ{background-position:0 -5000px}.flag-24-TC{background-position:0 -5025px}.flag-24-TD{background-position:0 -5050px}.flag-24-TG{background-position:0 -5075px}.flag-24-TH{background-position:0 -5100px}.flag-24-TJ{background-position:0 -5125px}.flag-24-TM{background-position:0 -5150px}.flag-24-TN{background-position:0 -5175px}.flag-24-TO{background-position:0 -5200px}.flag-24-TP{background-position:0 -5225px}.flag-24-TR{background-position:0 -5250px}.flag-24-TT{background-position:0 -5275px}.flag-24-TV{background-position:0 -5300px}.flag-24-TW{background-position:0 -5325px}.flag-24-TZ{background-position:0 -5350px}.flag-24-UA{background-position:0 -5375px}.flag-24-UG{background-position:0 -5400px}.flag-24-US{background-position:0 -5425px}.flag-24-UY{background-position:0 -5450px}.flag-24-UZ{background-position:0 -5475px}.flag-24-VA{background-position:0 -5500px}.flag-24-VC{background-position:0 -5525px}.flag-24-VE{background-position:0 -5550px}.flag-24-VG{background-position:0 -5575px}.flag-24-VI{background-position:0 -5600px}.flag-24-VN{background-position:0 -5625px}.flag-24-VU{background-position:0 -5650px}.flag-24-WS{background-position:0 -5675px}.flag-24-YE{background-position:0 -5700px}.flag-24-YT{background-position:0 -5725px}.flag-24-ZA{background-position:0 -5750px}.flag-24-ZM{background-position:0 -5775px}.flag-24-ZW{background-position:0 -5800px}.flag-24-_abkhazia{background-position:0 -5825px}.flag-24-_british-antarctic-territory{background-position:0 -5850px}.flag-24-_commonwealth{background-position:0 -5875px}.flag-24-_england{background-position:0 -5900px}.flag-24-_gosquared{background-position:0 -5925px}.flag-24-_mars{background-position:0 -5950px}.flag-24-_nagorno-karabakh{background-position:0 -5975px}.flag-24-_nato{background-position:0 -6000px}.flag-24-_northern-cyprus{background-position:0 -6025px}.flag-24-_olympics{background-position:0 -6050px}.flag-24-_red-cross{background-position:0 -6075px}.flag-24-_scotland{background-position:0 -6100px}.flag-24-_somaliland{background-position:0 -6125px}.flag-24-_south-ossetia{background-position:0 -6150px}.flag-24-_united-nations{background-position:0 -6175px}.flag-24-_wales{background-position:0 -6200px}
-->