/*
HTML 5 Template Name: Competitive
File: Homepage CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

#container #homepage{display:block; width:100%;}

#container #homepage #shout{margin-bottom:50px; padding:35px 0 0 0; background:url("../images/spacer.gif") top center no-repeat; text-align:center;}
#container #homepage #shout p{display:block; margin:0; padding:0 0 35px 0; line-height:normal; background:url("../images/spacer.gif") bottom center no-repeat; font-size:22px; font-style:italic;}
#container #homepage #shout p strong{display:block; width:80%; margin:0 auto; font-weight:normal;}

#container #homepage #services{margin-bottom:50px;}
#container #homepage #services ul{margin:0; padding:0; list-style:none;}
#container #homepage #services ul li{}
#container #homepage #services ul li:first-child{margin-left:0;}
#container #homepage #services ul li img{float:left;}
#container #homepage #services ul li article{float:right; width:165px;}
#container #homepage #services ul li article h2{}
#container #homepage #services ul li article p{margin:0; padding:0;}

#container #homepage #latest{margin-bottom:0;}
#container #homepage #latest ul{margin:0; padding:0; list-style:none;}
#container #homepage #latest ul li{}
#container #homepage #latest ul li:first-child{margin-left:0;}
#container #homepage #latest ul li article{}
#container #homepage #latest ul li article figure{}
#container #homepage #latest ul li article figure img{margin-bottom:20px; padding:4px; border:1px solid #E2E2E2;}
#container #homepage #latest ul li article figure figcaption{}
#container #homepage #latest ul li article figure figcaption h2{}
#container #homepage #latest ul li article figure figcaption p{}
#container #homepage #latest ul li article figure figcaption footer{text-align:right;}