/*
HTML 5 Template Name: Competitive
File: IE CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

.clear{zoom:1;}
#header nav ul{white-space:nowrap;}
#header nav ul ul{white-space:normal;}
#header nav ul li{*display:inline; overflow:auto;}

#header form input{height:20px; padding-top:5px;}

#container #homepage #services .two_third ul li{*display:inline; zoom:1; clear:left;}
#container #homepage #services .two_third ul li.even{clear:none;}