/*
HTML 5 Template Name: Competitive
File: Navigation CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

nav ul{margin:0; padding:0; list-style:none;}

/* ----------------------------------------------Top Navigation-------------------------------------*/

#header nav{display:block; float:right; margin:0; padding:0; clear:right;}
#header nav ul{}
#header nav ul li{display:inline-block; margin-left:25px; text-transform:uppercase;}
#header nav ul li:first-child, #header nav ul li.first{margin-left:0;}
#header nav ul li li{margin:0; text-align:left; font-style:normal;}
#header nav ul li a:link, #header nav ul li a:visited, #header nav ul li a:hover{display:block; margin:0; padding:0; color:#666666; background-color:#FFFFFF;}
#header nav ul li a:hover, #header nav ul li.active a{color:#BA2E1F; background-color:#FFFFFF;}
#header nav ul li ul li a:link, #header nav ul li ul li a:visited{width:150px; float:none; margin:0; padding:7px 10px; text-transform:none; font-weight:normal; color:#666666; background-color:#F9F9F9; border:none;}
#header nav ul li ul li a:hover{color:#BA2E1F; background-color:#F9F9F9; border:none;}
#header nav ul ul{z-index:9999; position:absolute; left:-999em; height:auto; width:170px; padding:5px 0 0 0; border-bottom:1px solid #D5D5D5;}
#header nav ul ul a{width:140px;}
#header nav ul li:hover ul{left:auto;}
#header nav ul li:hover{position:static;}
#header nav ul li.last{}

/* ----------------------------------------------Column Navigation-------------------------------------*/

#container aside nav{display:block; width:300px; margin-bottom:30px;}
#container aside nav ul{margin:0; padding:0; list-style:none;}
#container aside nav li{margin:0 0 3px 0; padding:0;}
#container aside nav ul ul, #container aside nav ul ul ul, #container aside nav ul ul ul ul, #container aside nav ul ul ul ul ul{border-top:none; padding-top:0;}
#container aside nav a{display:block; margin:0; padding:5px 10px 5px 20px; color:#666666; background:url("../images/red_file.gif") no-repeat 10px center #FFFFFF; text-decoration:none; border-bottom:1px dotted #666666;}
#container aside nav a:hover{color:#BA2E1F; background-color:#FFFFFF;}
#container aside nav ul ul a, #container aside nav ul ul ul a, #container aside nav ul ul ul ul a, #container aside nav ul ul ul ul ul a{background:url("../images/black_file.gif") no-repeat #FFFFFF;}
#container aside nav ul ul a{padding-left:40px; background-position:30px center;}
#container aside nav ul ul ul a{padding-left:50px; background-position:40px center;}
#container aside nav ul ul ul ul a{padding-left:60px; background-position:50px center;}
#container aside nav ul ul ul ul ul a{padding-left:70px; background-position:60px center;}