
p {margin: 0 10px 1em}
.strong{font-weight:700}
.clear {clear:both}
img{border:0 none}

/* --- Headings --- */
h1 {font-family:georgia,'times new roman',times,serif; font-size:2.5em; font-weight:normal; color:#f60}

h1, h2, h3 {margin-bottom:1em}

h2, h3, h4 a, h5 a {padding:3px 10px}

h2, h3, h4, h5 {font-size:1em}

#main h2 {background-color:#f0f0f0}

#side, #side h2, #side h3 {background:#000; color:#e3e3e3}

#side h2 {border-bottom:1px solid #484b51}

/* --- Links --- */
.accordion  a {padding:1px; border:1px solid #e0e0e0;}

a:hover, a:focus, a:active {border-color:#bcd; text-decoration:none; outline:0 none}

#side a {display:block; border-width:0 0 1px; border-color:#445; color:#f0f0f0}

#side a:hover, #side a:active, #side a:focus {background-color:#334}

/* --- Accordion --- */
.js #main .accordion {visibility:hidden}

.js #side .accordion {display:none}

.accordion {margin:0; padding:0 10px;text-align:left; width:85%;}

.accordion li {list-style-type:none}

.accordion li.last-child {margin-left:19px; list-style-type:disc}

#side ul.accordion ul {margin:0; padding:0 0 0 20px;}

.accordion .outer {border:0px; border-width:0px; background: #fff}

.accordion .inner {margin-bottom:0; padding:.5em 20px 1em; position:relative; overflow:hidden}

.accordion .inner .inner {padding-bottom:0}

.accordion .h {padding-top:.3em} /* vertical padding instead of vertical margin (ie8) */

.accordion p {margin:.5em 1px 1em}

/*  
  Add styles for all links in the 'accordion':
.accordion a {...}
*/    

a.trigger {display:block; padding-left:20px; background-image: url(../style/img/plus.gif); background-repeat: no-repeat; background-position: 1px 50%;  font-weight:700}

a.trigger.open {background-image: url(../style/img/minus.gif)}

.last-child a.trigger{padding-left:1px; background-image:none; font-weight:normal}

#main a.trigger {background-color:#f0f0f0}

#main a.trigger.open {border-color:#dadada; background-color:#e7e7e7}

#main a:hover.trigger.open, #main a:focus.trigger.open, #main a:active.trigger.open {border-color:#bcd}

#side a.active{font-weight:700; color:#f72; text-decoration:none}