/*
HTML 5 Template Name: Competitive
File: Slider CSS
Author: OS Templates
Author URI: http://www.os-templates.com/
Licence: <a href="http://www.os-templates.com/template-terms">Website Template Licence</a>
*/

#slider, #slider #controls, #slider #controls div{display:block; width:960px; height:380px;}

#slider{position:relative; margin:0; padding:0;}
#slider #controls{position:absolute; top:0; left:0;}
#slider #controls a{background-color:transparent;}
#slider #controls div{overflow:hidden;}
#slider a.next, #slider a.prev{position:absolute; display:block; top:164px; right:15px; width:52px; height:52px; z-index:101;}
#slider .prev{left:15px;}

#slider .sliderpagination{position:absolute; display:block; bottom:20px; width:100%; height:16px; margin:0; padding:0; text-align:center; z-index:101;}
#slider .sliderpagination li{display:inline;}
#slider .sliderpagination li a{display:inline-block; width:10px; height:0; margin:0 5px; padding:10px 0 0 0; background:url("../images/slider/controls/sliderpagination.png") 0 0; overflow:hidden;}
#slider .sliderpagination li a:hover, #slider .sliderpagination li.current a{background-position:0 -10px;}