body {
	font-family: 'Balsamiq Sans Regular', 'Comic Sans MS', sans-serif;
}

input {
	font-family: 'Balsamiq Sans Bold', 'Comic Sans MS', sans-serif;
}

#timezone-box {
	height: 80px;
	width: 130px;
}

.localTime {
	background: url('../images/timezone-box-lt.png') no-repeat;
}

.timeZone {
	background: url('../images/timezone-box-tz.png') no-repeat;
}


/* Time zone box style */

#localTimeRadio, #timeZoneRadio {
	
	clear: right;
	margin-left: 6px;
	width: 12px;
	height: 12px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
}

#localTimeRadio {
	margin-top: 10px;	
}

#timeZoneRadio {
	margin-top: 4px;
}

#localTimeRadio:hover, #timeZoneRadio:hover {
	cursor:pointer;
}



#content-top {

	width: 510px;
	height: 40px;
	padding-bottom: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}


#help-btn {
	width: 30px;
	height: 30px;
	background: url('../images/help-btn.png') no-repeat;
	background-position: 4px 4px;
	border: #444 2px solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#help-btn:hover { cursor: pointer; }


#random-scores {

	width: 160px;
	height: 40px;
	border: none;
	margin: 15px 10px 0 0;
	background: url('../images/random-scores.png') no-repeat;

}

#clear {

	width: 77px;
	height: 40px;
	border: none;
	margin-right: 5px;
	background: url('../images/clear-btn.png') no-repeat;

}

#random-scores:hover, #clear:hover { cursor: pointer; }