/* 50x30 flags (tabs) */

.flag {

	position: relative;
	width: 50px;
	height: 30px;
	margin: 0 8px 8px 0;
	float: left;
	background: url('../images/flag.png') no-repeat;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: #333 1px solid;

}

.right-f {

	margin-right: 0;
	clear: right;

}

/* 30x18 flags (brackets) */

.flag-small {
	
	width: 30px;
	height: 18px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	margin-top: 1px;
	margin-bottom:5px;
	border: #333 1px solid;
    background: #69A;
	
}

.bg-img { background: url('../images/flag-brackets.png') no-repeat; }

.br-s { background-position: 0 0; }
.hr-s { background-position: 0 -19px; }
.mx-s { background-position: 0 -37px; }
.cm-s { background-position: 0 -55px; }

.es-s { background-position: 0 -73px; }
.nl-s { background-position: 0 -91px; }
.cl-s { background-position: 0 -109px; }
.au-s { background-position: 0 -127px; }

.co-s { background-position: 0 -145px; }
.gr-s { background-position: 0 -163px; }
.ci-s { background-position: 0 -181px; }
.jp-s { background-position: 0 -199px; }

.uy-s { background-position: 0 -217px; }
.cr-s { background-position: 0 -235px; }
.en-s { background-position: 0 -253px; }
.it-s { background-position: 0 -271px; }

.ch-s {
	background-position: -1px -289px;
	width: 18px;
	float:right
}
.ec-s { background-position: 0 -307px; }
.fr-s { background-position: 0 -325px; }
.hn-s { background-position: 0 -343px; }

.ar-s { background-position: 0 -361px; }
.ba-s { background-position: 0 -379px; }
.ir-s { background-position: 0 -397px; }
.ng-s { background-position: 0 -415px; }

.de-s { background-position: 0 -433px; }
.pt-s { background-position: 0 -451px; }
.gh-s { background-position: 0 -469px; }
.us-s { background-position: 0 -487px; }

.be-s { background-position: 0 -505px; }
.dz-s { background-position: 0 -523px; }
.ru-s { background-position: 0 -541px; }
.kr-s { background-position: 0 -559px; }


/* 50x30 flags (tabs) */

.br { background-position: 0 0; }
.hr { background-position: 0 -30px; }
.mx { background-position: 0 -60px; }
.cm { background-position: 0 -90px; }

.es { background-position: 0 -120px; }
.nl { background-position: 0 -150px; }
.cl { background-position: 0 -180px; }
.au { background-position: 0 -210px; }

.co { background-position: 0 -240px; }
.gr { background-position: 0 -270px; }
.ci { background-position: 0 -300px; }
.jp { background-position: 0 -330px; }

.uy { background-position: 0 -360px; }
.cr { background-position: 0 -390px; }
.en { background-position: 0 -420px; }
.it { background-position: 0 -450px; }

.ch {
	background-position: -11px -480px;
	width: 30px;
	margin-left: 11px;
	margin-right: 17px;
}
.ec { background-position: 0 -510px; }
.fr { background-position: 0 -540px; }
.hn { background-position: 0 -570px; }

.ar { background-position: 0 -600px; }
.ba { background-position: 0 -630px; }
.ir { background-position: 0 -660px; }
.ng { background-position: 0 -690px; }

.de { background-position: 0 -720px; }
.pt { background-position: 0 -750px; }
.gh { background-position: 0 -780px; }
.us { background-position: 0 -810px; }

.be { background-position: 0 -840px; }
.dz { background-position: 0 -870px; }
.ru { background-position: 0 -900px; }
.kr { background-position: 0 -930px; }