@font-face {
	font-family: 'Balsamiq Sans Regular';
	src: url('../font/BalsamiqSansRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'Balsamiq Sans Bold';
	src: url('../font/BalsamiqSansBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Balsamiq Sans Bold Italic';
	src: url('../font/BalsamiqSansBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Balsamiq Sans Italic';
	src: url('../font/BalsamiqSansItalic.ttf') format('truetype');
}