.match-box {

	position: relative;
	width: 520px;
	height: 50px;
	float: left;
	margin: 0 0 5px 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    padding: 5px;
    border-bottom: #222 1px solid;

}

#match-1 {
    
    border-top: #222 1px solid;
    
}

.match-flag {

	top: 26px;
    width: 50px;
	height: 30px;
    float: left;
	background: url('../images/flag.png') no-repeat;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: #333 1px solid;
    margin-top: 5px;

}

/* flags backgrond position in flags.css */

.match-location {

	text-align: left;
	font-size: 12px;
    float: left;
    width: 190px;
    margin-top:15px;

}

.team-name {
	font-size: 12px;
	width: 60px;
    float: left;
    margin-top:15px;
}

.name1 {
	text-align: right;
    margin-right: 10px;
}

.name2 {
	text-align: left;
    margin-left: 10px;
}

.team-result {
	
	width: 20px;
	height: 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: #444 1px solid;
	font-size: 12px;
    margin: 5px 2px 0 2px;
	padding: 3px 0 0 6px;
	font-size: 16px;
	font-family: 'Balsamiq Sans Bold', 'Comic Sans MS', sans-serif;
    float: left;
	
}

.dash {
    width: 10px;
    height: 100%;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
}

/* 100x60 flags (matches) */

.br-big { background-position: 0 0; }
.hr-big { background-position: 0 -30px; }
.mx-big { background-position: 0 -60px; }
.cm-big { background-position: 0 -90px; }

.es-big { background-position: 0 -120px; }
.nl-big { background-position: 0 -150px; }
.cl-big { background-position: 0 -180px; }
.au-big { background-position: 0 -210px; }

.co-big { background-position: 0 -240px; }
.gr-big { background-position: 0 -270px; }
.ci-big { background-position: 0 -300px; }
.jp-big { background-position: 0 -330px; }

.uy-big { background-position: 0 -360px; }
.cr-big { background-position: 0 -390px; }
.en-big { background-position: 0 -420px; }
.it-big { background-position: 0 -450px; }

.ch-big {
	background-position: -11px -480px;
	width: 30px;
	margin-left: 11px;
	margin-right: 17px;
}
.ec-big { background-position: 0 -510px; }
.fr-big { background-position: 0 -540px; }
.hn-big { background-position: 0 -570px; }

.ar-big { background-position: 0 -600px; }
.ba-big { background-position: 0 -630px; }
.ir-big { background-position: 0 -660px; }
.ng-big { background-position: 0 -690px; }

.de-big { background-position: 0 -720px; }
.pt-big { background-position: 0 -750px; }
.gh-big { background-position: 0 -780px; }
.us-big { background-position: 0 -810px; }

.be-big { background-position: 0 -840px; }
.dz-big { background-position: 0 -870px; }
.ru-big { background-position: 0 -900px; }
.kr-big { background-position: 0 -930px; }