.match-box {

	position: relative;
	width: 250px;
	height: 155px;
	background: url('../images/match.png') no-repeat;
	float: left;
	margin: 0 10px 10px 0;
	padding: 16px 0 0 18px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}

.match-flag {

	position: absolute;
	top: 26px;
	width: 100px;
	height: 60px;
	background: url('../images/flag-match.png') no-repeat;
	z-index: 100;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: #333 2px solid;

}

.team1 { left: 15px; }
.team2 { right: 15px; }

/* flags backgrond position in flags.css */

.match-location {

	position: absolute;
	top: 125px;
	text-align: left;
	font-size: 14px;

}

.team-name {
	position: absolute;
	font-size: 16px;
	width: 100px;
	top: 90px;
}

.name1 {
	left: 15px;
	text-align: left;
}

.name2 {
	left: 135px;
	text-align: right;
}

.team-result {
	
	position: absolute;
	width: 25px;
	height: 35px;
	z-index: 1000;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: #444 2px solid;
	font-size: 23px;
	padding: 3px 0 0 6px;
	font-size: 16px;
	top: 38px;
	font-family: 'Balsamiq Sans Bold', 'Comic Sans MS', sans-serif;
	
}

.res1 { left: 97px; }

.res2 { left: 128px; }

.dash { }

.hidden { display: none; }

/* 100x60 flags (matches) */

.br-big { background-position: 0 0; }
.hr-big { background-position: 0 -60px; }
.mx-big { background-position: 0 -120px; }
.cm-big { background-position: 0 -180px; }

.es-big { background-position: 0 -240px; }
.nl-big { background-position: 0 -300px; }
.cl-big { background-position: 0 -360px; }
.au-big { background-position: 0 -420px; }

.co-big { background-position: 0 -480px; }
.gr-big { background-position: 0 -540px; }
.ci-big { background-position: 0 -600px; }
.jp-big { background-position: 0 -660px; }

.uy-big { background-position: 0 -720px; }
.cr-big { background-position: 0 -780px; }
.en-big { background-position: 0 -840px; }
.it-big { background-position: 0 -900px; }

.ch-big { background-position: 0 -960px; width: 60px }

.ec-big { background-position: 0 -1020px; }
.fr-big { background-position: 0 -1080px; }
.hn-big { background-position: 0 -1140px; }

.ar-big { background-position: 0 -1200px; }
.ba-big { background-position: 0 -1260px; }
.ir-big { background-position: 0 -1320px; }
.ng-big { background-position: 0 -1380px; }

.de-big { background-position: 0 -1440px; }
.pt-big { background-position: 0 -1500px; }
.gh-big { background-position: 0 -1560px; }
.us-big { background-position: 0 -1620px; }

.be-big { background-position: 0 -1680px; }
.dz-big { background-position: 0 -1740px; }
.ru-big { background-position: 0 -1800px; }
.kr-big { background-position: 0 -1860px; }