#title {
	height: 80px;
	width: 500px;
	margin-right: 70px;
}

#container {

	position: absolute;
	top: 0; left: 50%;
	width: 960px;
	height: 1130px;
	margin-left: -480px;
	padding: 10px 0 0 10px;

}

#container > div {
	
	position: relative;
	float: left;

}

#timezone-box {
	padding: 20px 0 15px 20px;
}

#header {
	width: 100%;
	height: 80px;

}

#header > div {
	float: left;
}

#title {
	background: url('../images/title.png') no-repeat;
}

/* GROUP TABS */

#group-buttons {

	width: 165px;
	height: 1030px;

}

#content {
	width: 535px;
	height: 1030px;
	background: url('../images/content-background.png') no-repeat right;
	margin-right: 10px;
	padding: 10px 5px 10px 10px;
	z-index: 1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


/* Group buttons */

.group-btn {

	width: 135px;
	height: 120px;
	float: left;
	padding: 10px 11px 5px 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: url('../images/group-background.png') no-repeat;
}

.hover {

	cursor: pointer;

}				

.group-connector {

	width: 30px;
	height: 120px;
	float: left;
	clear: right;
	background: url('../images/group-connector.png');

}

.connected {

	background: url('../images/group-connected.png');

}

.vert-separator {

	width: 100%;
	height: 10px;
	clear: both;
	background: url('../images/vert-separator.png');

}

.group-text {

	margin-bottom: 6px;
	text-align: center;
	font-family: 'Balsamiq Sans Bold', 'Comic Sans MS', sans-serif;
	font-size: 16px;
	color: #333;

}

/* flags background position in flags.css */



/* progress bar style */

#progress-bar {
	
	position: relative;
	width: 250px;
	height: 100%;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 3px 0 3px 0;
	
}

#prog-perc {
	
	text-align: center;
	position: absolute;
	top: 0; left: 0;
	width: 240px;
	height: 100%;
	font-size: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-top: 7px;
	
}

#prog-boxes {
	
	width: 240px;
	height: 100%;
	
}

#prog-boxes > span {
	
	display: block;
	float: left;
	width: 20px;
	height: 100%;
	border-top: #000 2px solid;
	border-bottom: #000 2px solid;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
}

#prog-boxes > span:first-child {
	
	border-left: #000 2px solid;
	
}

#prog-boxes > span:last-child {

	border-right: #000 2px solid;
	
}

#prog-boxes > span.filled { background: #bee; }
#prog-boxes > span.last-filled { border-right: #666 2px solid; }


#settings {

	width: 260px;
	height: 100%;
	float: left;

}

#view-text {
	float: left;
	margin: 6px 5px 0 16px;
	font-size: 16px;
}

#view-select {
	float: left;
	width: 130px;
	height: 30px;
	margin-right: 19px;
}

.listSelect {
	background: url('../images/view-mode-select-l.png') no-repeat;
}

.widgetSelect {
	background: url('../images/view-mode-select-w.png') no-repeat;
}

#view-select:hover {
	cursor: pointer;
}


#view-options {
	
	display: none;
	position: absolute;
	top: 38px;
	right: 55px;
	width: 130px;
	height: 60px;
	margin: 0;
	padding: 0;
	z-index: 2000;
	
}

#widget-view-option, #list-view-option {
	width: 100%;
	clear: both;
}

#widget-view-option:hover, #list-view-option:hover {
	cursor:pointer;
}

#widget-view-option {
	height: 28px;
	background: url('../images/view-mode-opt-w.png') no-repeat;
}

#list-view-option {
	height: 30px;
	background: url('../images/view-mode-opt-l.png') no-repeat;
}




/* Match boxes */

/* Widget View --> widget-view.css */
/* List View --> list-view.css */


#next-group, #knockout-btn-big {

	width: 250px;
	height: 40px;
	border: none;
	display: none;

}

#next-group { background: url('../images/next-group.png') no-repeat; }
#knockout-btn-big { background: url('../images/knockout-btn-big.png') no-repeat; }

#next-group:hover, #knockout-btn-big:hover { cursor: pointer; }

/* Right column */

#right {
	width: 250px;
	height: 1030px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 10px;
}

#right > div {
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	
}

#right h3 {
	
	font-size: 16px;
	text-align: center;
	font-weight: normal;
	margin-bottom: 0;
	
}

#right hr {
	
	width: 90%;
	border: #666 1px solid;
	
}

/* Bracket rendering */

#predicted-matches {
	
	margin-bottom: 20px;
	width: 220px;
	height: 310px;
	background: url('../images/predicted-matches.png') no-repeat;
	
}

#predicted-matches > div {
	height: 195px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	margin-top:10px;
	
}

.left-bracket div {
	border-right: 1px solid;
	float:right;
}

div.col1.last-col {
	margin-left: 0;	
}

.right-bracket div {
	border-left: 1px solid;
	float:left;
}

.col1 {
	margin-left: 14px;
	width: 30px;
}

.col2 {
	width: 16px;
}

.col2 > div {
	width: 100%;
	height: 13px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-color: #000;
}

.col2 > div:first-child {
	margin-top: 9px;
}

.col2 > div:nth-child(2),
.col2 > div:nth-child(4),
.col2 > div:nth-child(6),
.col2 > div:nth-child(8) {

	margin-bottom: 22px;
	border-bottom: 1px solid;

}

.col2 > div:nth-child(1),
.col2 > div:nth-child(3),
.col2 > div:nth-child(5),
.col2 > div:nth-child(7) {
	
	border-top: 1px solid;
	
}


.col3 {
	width: 20px;
	
}

.col3 > div {
	width: 100%;
	height: 25px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.col3 > div:first-child {
	margin-top: 21px;
}

.col3 > div:nth-child(1),
.col3 > div:nth-child(3) {
	border-top: 1px solid;
	
}

.col3 > div:nth-child(2),
.col3 > div:nth-child(4) {
	margin-bottom: 46px;
	border-bottom: 1px solid;
}


.col4 {
	width: 20px;
}

.col4 > div {
	width: 100%;
	height: 48px;
}

.col4 > div:first-child {
	margin-top: 45px;
	border-top: 1px solid;
}

.col4 > div:last-child {
	border-bottom: 1px solid;
}

.col5 {
	width: 20px;
}

.col5 > div {
	border-bottom: 1px solid;
	height: 94px;
}

#go-knockout {
	
	display: none;
	width: 193px;
	height: 35px;
	background: url('../images/knockout-btn.png') no-repeat;
	border: none;
	margin-left: 13px;
	
}

#go-knockout:hover {
	
	cursor: pointer;
	
}

#predicted-points {
	
	width: 220px;
	height: 220px;
	background: url('../images/predicted-points.png') no-repeat;
	
}

#predicted-points table {
	
	width: 200px;
	margin-top: 15px;
	border-collapse: collapse;
	font-size: 10px;
	text-align: center;
	
}

#predicted-points th, #predicted-points td {
	
	width: 20px;
	border-bottom: #444 2px solid;
	
}

#predicted-points th:first-child,
#predicted-points td:first-child {
	
	border-bottom: none;
	width: 25px;
	
}

#predicted-points th { height: 20px; }
#predicted-points td { height: 25px; }

#predicted-points th:last-child, .pts {
	border-left: #666 1px solid;
	background: #f9f9f9;
}

.pts-flag {
	
	text-align: right;
	
}

.pts-flag > img {
	
	position: relative;
	top: 1px;
	left: -10px;
	height: 20px;
	width: auto;
	border: #333 1px solid;	
	
}