#container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 960px;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-left: -480px;
	padding: 50px;
	border-left: #222 1px solid;
	border-right: #222 1px solid;
	background: #f8f8f8;
}

#container > p:first-child {
	
	margin-before: 0;
	-moz-margin-before: 0;
	-webkit-margin-before: 0;
	
}

body {
	
	font-family: Tahoma, sans-serif !important;
	font-size: 10pt;
	line-height: 20pt;
	background: #333;
	
}

ul {
	
	padding-start: 40px;
	-moz-padding-start: 40px;
	-webkit-padding-start: 40px;
	
}

p, li {
	
	color: #444;
	text-align: justify;
	
}

#links {

	width: 200px;
	height: 230px;
	margin-left: 330px;

}

.link {

	width: 200px;
	height: 50px;
	border: #ccc 1px solid;
	color: #ccc;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 20px 0 20px 0;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	padding-top: 17px;

}

.enabled {
	color: #000;
	border: #000 1px solid;
}

.enabled:hover {
	cursor: pointer;
}

#thanks {
	
	display: none;
	padding: 20px;
	text-align: center;
	
}