/* layout min-width: 710px */

/* set box sizing properties for all divs */
div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* main div: contains #header and #content */
#container {

	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	min-width: 680px;
	min-height: 600px;
	padding: 0;
	background: #444;

}


/* header box (parent: #container) */
#header {
	height: 15%;
	max-height: 100px;
	border-width: 0 1px 0 1px;
	border-color: #444;
	border-style: solid;
	background: #fff;
}


/* #header elements */

#title {

	height: 80px;
	float: left;
	margin-right: 0;
	
}

#title > img {
	width: 100%;
	height: auto;
}

/* 
 * hide the timezone box and the help button
 * if the browser window is smaller than 720px.
 * A settings button is shown. If clicked, it
 * will show the hidden settings.
 */
@media (max-width: 720px) {

	#settings-btn {
		
		display: block;
		margin-top: 20px;
		float: right;
		width: 32px;
		height: 32px;
		background: url("../images/settings-btn.png") no-repeat;
		
	}
	
	#settings-btn:hover {
		cursor: pointer;
	}
	
	#settings-box {
	
		display: none;
		position: absolute;
		top: 70px;
		right: 5px;
		width: 200px;
		height: 100px;
		background: url("../images/settings-box.png") no-repeat;
		padding: 8px;
		z-index: 200;
	
	}
	
	.knockout-area {

		width: 98%;
		left: 1%;

	}
	
	#header {
		padding: 10px 1% 0 1%;
	}
			
}

/*
 * Shows the settings on bigger displays
 */
@media (min-width: 721px) {

	#settings-btn {	display: none;	}

	#settings-box {

		display: block;
		float: right;
		width: auto;
		height: 80px;

	}
	
	.knockout-area {

		width: 90%;
		left: 5%;

	}
	
	#header {
		padding: 10px 5% 0 5%;
	}
	
}

#timezone-box {
	float: left;
	margin-right: 10px;
}

#help-btn {
	float: left;
	margin-top: 20px;
}

/* end of #header elements */



/* content box */

#content {
	position: absolute;
	height: 85%;
	max-height: 720px;
	padding: 15px 10px 0 10px;
}


/* match box style */
.match-box {
	
	position: absolute;
	z-index: 1;
	width: 160px;
	height: 60px;
	
}

.team {
	height: 30px;
}

.team1 > .team-result {
	border: #333 1px solid;
}

.team2 > .team-result {
	border: #333 1px solid;
	border-top: none !important;
}

.team-result {
	
	width: 25px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 3px 0 0 6px;
	font-size: 16px;
}

.col1 .team1 .team-result, .col2 .team1 .team-result, .col3 .team1 .team-result {
	border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
}

.col1 .team2 .team-result, .col2 .team2 .team-result, .col3 .team2 .team-result {
	border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
}

.col5 .team1 .team-result, .col6 .team1 .team-result, .col7 .team1 .team-result {
	border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
}

.col5 .team2 .team-result, .col6 .team2 .team-result, .col7 .team2 .team-result {
	border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	-webkit-border-radius: 0 0 0 5px;
}

.team-name {
	font-size: 14px;
	width: 90px;
	line-height: 30px;
	background: #F9F9F0;
}

.match-flag {

	width: 45px;
	background: url('../images/flag.png') no-repeat; /* 50x30px */
	background-position-x: 0px !important;
	border-color: #333;
	border-style: solid;
}



.team1 > .match-flag {
	border-width: 1px 1px 1px 1px;
}

.team2 > .match-flag {
	border-width: 0 1px 1px 1px;
}

.team > div, .team > input {
	float: left;
	height: 30px;
}

.col1, .col2, .col3, .final1, .final2 {
	text-align: left;
}

.col5, .col6v, .col7 {
	text-align: right;
}

.team1 .team-name {
	border-top: #333 1px solid;
	border-bottom: #333 1px solid;
}

.team2 .team-name {
	border-bottom: #333 1px solid;
}

.col1 .team-name, .col2 .team-name, .col3 .team-name, .final1 .team-name, .final2 .team-name {
	padding-left: 5px;
}

.col5 .team-name, .col6 .team-name, .col7 .team-name {
	text-align: right;
	padding-right: 5px;
}

.col1 {	left: 0; }
.col2 { left: 14%; }
.col3 { left: 24%; }
.col4 { left: 50%; }
.col5 { right: 24%; }
.col6 { right: 14%; }
.col7 { right: 0; }

.row1 { top: 2%; }
.row2 { top: 28%; }
.row3 { top: 54%; }
.row4 { top: 80%; }

.row21 { top: 15%; }
.row22 { top: 67%; }

.col3, .col5 { top: 41%; }

.final1, .final2 {
	left: 50%;
	margin-left: -80px;
}

.final1 { top: 2%; }
.final2 { top: 80%; }

/* flags to be centered*/
.br, .hr, .mx, .cm,
.ci, .jp, .en, .it,
.ec, .fr, .hn, .ar,
.ir, .ng, .gh,
.be, .dz, .kr { background-position-x: -3px !important; }


/* switzerland */
.ch {
	width: 31px !important;
	background-position-x: -10px !important;
}

.col1 .ch, .col2 .ch {
	margin-left: 14px !important;
	margin-right: 0 !important;
}

.col4 .ch, .col5 .ch, .col6 .ch {
	margin-left: 0 !important;
	margin-right: 14px !important;
}

.no-flag {
	background-image: none !important;
	background-color: #666;
}


#random-scores, #clear {
	display: none;
}



.match-details {
	
	
	
}




#table-box {
	
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 300px;
	overflow-y: scroll;
	margin: 0 auto 0 auto;
	border: #fff 1px solid;
	
}

table {
	
	font-family: 'Tahoma', sans-serif;
	font-size: 10px;
	border-collapse: collapse;
	width: auto;
	margin: 0 auto 0 auto;
	
}

th, td {
	
	border: #000 1px solid;
	height: 20px;
	padding: 0 10px 0 10px;
	
}

th:first-child { text-align: left; }

.table-team1 { text-align: left; }

.table-score { text-align: center; }

.table-team2 { text-align: right; }

th {	
	background: #fff;
}

.group-odd {
	background: #ececec;
}

.group-even {
	background: #fff;
}


.bracket {
	position: absolute;
	z-index: 0;
	width: 12%;
	height: 8%;
}

.right { border-right: #ccc 1px solid; }
.left { border-left: #ccc 2px solid; }
.top { border-top: #ccc 2px solid; }
.bottom { border-bottom: #ccc 2px solid; }

#bracket11, #bracket12, #bracket13, #bracket14 { left: 12%; }
#bracket15, #bracket16, #bracket17, #bracket18 { right: 12%; }

#bracket11, #bracket15 { top: 7%; }
#bracket12, #bracket16 { top: 25%; }
#bracket13, #bracket17 { top: 59%; }
#bracket14, #bracket18 { top: 77%; }

#bracket21, #bracket22, #bracket23, #bracket24 { height: 26% !important; }

#bracket21, #bracket22 { left: 20%; }
#bracket23, #bracket24 { right: 20%; }

#bracket21, #bracket23 { top: 20%; }
#bracket22, #bracket24 { top: 46%; }

.selected {	
	border-color: #fff;
}

